<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Nuur - Media Agency</title>
		<!-- Favicon -->
		<link href="assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body class="bg-iceblue" data-preloader="light">

		<!-- Header -->
		<div class="header nav-center">
			<div class="container-fluid">
				<!-- Logo -->
				<div class="header-logo">
					<h5 class="uppercase">Nuur</h5>
				</div>
				<!-- Menu -->
				<div class="header-menu nav-link-hover-line">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Portfolio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Prices</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
				<!-- Extras -->
				<div class="header-extra">
					<a class="button button-sm button-gradient-3 button-rounded button-hover-slide" href="#"><span data-text="Button">Button</span></a>
				</div>
				<!-- Mobile Menu Toggle -->
				<button class="mobile-menu-toggle">
					<span></span>
				</button>
			</div><!-- end container-fluid -->
		</div>
		<!-- end Header -->

		<main>

			<!-- Hero section -->
			<div class="section-spacing-sm pb-0">
				<div class="container">
					<div class="row g-4">
						<div class="col-12 col-xl-8">
							<h1 class="display-1 fw-semi-bold uppercase">Media Agency based in Australia</h1>
						</div>
						<div class="col-12 col-xl-4 text-xl-end">
							<div class="row g-4">
								<div class="col-12 col-sm-6 col-xl-12">
									<h2 class="display-5 font-family-tertiary mb-0">4,000</h2>
									<p>Satisfied Customers</p>
								</div>
								<div class="col-12 col-sm-6 col-xl-12">
									<h2 class="display-5 font-family-tertiary mb-0"><span class="counter">23</span>k+</h2>
									<p>Hours of Experience</p>
								</div>
							</div><!-- end row(inner) -->
						</div>
					</div><!-- end row -->
					<div class="mt-5">
						<div class="lightbox-video img-mask-1">
							<img src="assets/images/1260x500.png" alt="">
							<a class="glightbox lightbox-play-btn" href="https://www.youtube.com/watch?v=V8yu12uRpBA">
								<i class="bi bi-play"></i>
							</a>
						</div>
					</div>
				</div><!-- end container -->
			</div>
			<!-- end Hero section -->

			<!-- Testimonial section -->
			<div class="section-spacing-sm pb-0">
				<div class="container">
					<div class="row g-4 g-lg-5 align-items-center">
						<div class="col-12 col-lg-5 col-xl-4">
							<h2 class="font-family-tertiary">We have over 4,000 satisfied clients</h2>
							<ul class="list-inline mt-3">
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide testimonial-slider-2-prev" href="#">
										<i class="bi bi-arrow-left"></i>
										<i class="bi bi-arrow-left"></i>
									</a>
								</li>
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide testimonial-slider-2-next" href="#">
										<i class="bi bi-arrow-right"></i>
										<i class="bi bi-arrow-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-12 col-lg-7 col-xl-8">
							<div class="swiper testimonial-slider-2">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="testimonial-quote-box">
											<div class="quote">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna</p>
											</div>
											<div class="quote-author">
												<img src="assets/images/avatar-60.png" alt="">
												<div class="ps-3">
													<h6 class="sm-heading mb-0">Christina Gray</h6>
													<span>CEO @Company</span>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="testimonial-quote-box">
											<div class="quote">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna</p>
											</div>
											<div class="quote-author">
												<img src="assets/images/avatar-60.png" alt="">
												<div class="ps-3">
													<h6 class="sm-heading mb-0">Christina Gray</h6>
													<span>CEO @Company</span>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="testimonial-quote-box">
											<div class="quote">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna</p>
											</div>
											<div class="quote-author">
												<img src="assets/images/avatar-60.png" alt="">
												<div class="ps-3">
													<h6 class="sm-heading mb-0">Christina Gray</h6>
													<span>CEO @Company</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Testimonial section -->

			<!-- Clients section -->
			<div class="section-spacing-sm">
				<div class="container">
					<div class="swiper clients-slider-6">
						<div class="swiper-wrapper">
							<!-- Slider Item 1 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 2 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 3 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 4 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 5 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 6 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 7 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- end Slider Item 7 -->
						</div><!-- end swiper-wrapper -->
					</div><!-- end clients-slider -->
				</div><!-- end container -->
			</div>
			<!-- end Clients section -->

			<!-- Services section -->
			<div class="section-spacing pt-0">
				<div class="container" data-cues="fadeIn">
					<!-- Services box 1 -->
					<hr class="hr-diagonal">
					<div class="py-4 py-lg-5 px-lg-4 px-xl-5 border-dark" data-hover-img="assets/images/300.png">
						<div class="d-flex">
							<div class="pe-4 pe-xl-5 icon-3xl">
								<i class="ti-crown"></i>
							</div>
							<div>
								<div class="h1 display-2 font-family-tertiary">Branding</div>
								<ul class="list-inline-dot">
									<li>List item</li>
									<li>List item</li>
									<li>List item</li>
									<li>List item</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Services box 2 -->
					<hr class="hr-diagonal">
					<div class="py-4 py-lg-5 px-lg-4 px-xl-5 border-dark" data-hover-img="assets/images/300.png">
						<div class="d-flex">
							<div class="pe-4 pe-xl-5 icon-3xl">
								<i class="ti-star"></i>
							</div>
							<div>
								<div class="h1 display-2 font-family-tertiary">Social Marketing</div>
								<ul class="list-inline-dot">
									<li>List item</li>
									<li>List item</li>
									<li>List item</li>
									<li>List item</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Services box 3 -->
					<hr class="hr-diagonal">
					<div class="py-4 py-lg-5 px-lg-4 px-xl-5 border-dark" data-hover-img="assets/images/300.png">
						<div class="d-flex">
							<div class="pe-4 pe-xl-5 icon-3xl">
								<i class="ti-palette"></i>
							</div>
							<div>
								<div class="h1 display-2 font-family-tertiary">UI & UX Design</div>
								<ul class="list-inline-dot">
									<li>List item</li>
									<li>List item</li>
									<li>List item</li>
									<li>List item</li>
								</ul>
							</div>
						</div>
					</div>
					<hr class="hr-diagonal">
				</div><!-- end container -->
			</div>
			<!-- end Services section -->

			<!-- Portfolio section -->
			<div class="section-spacing pt-0">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-12 col-lg-8">
							<h2 class="display-2 fw-semi-bold uppercase">Recent Works</h2>
						</div>
						<div class="col-12 col-lg-4 text-lg-end">
							<ul class="list-inline">
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide horizontal-portfolio-prev" href="#">
										<i class="bi bi-arrow-left"></i>
										<i class="bi bi-arrow-left"></i>
									</a>
								</li>
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide horizontal-portfolio-next" href="#">
										<i class="bi bi-arrow-right"></i>
										<i class="bi bi-arrow-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div><!-- end row -->
					<div class="swiper portfolio-horizontal-slider mt-4">
						<div class="swiper-wrapper">
							<!-- Portfolio Slider Item 1 -->
							<div class="swiper-slide">
								<div class="portfolio-box" data-hover-title="Project Title 1">
									<a href="#">
										<div class="portfolio-img">
											<img src="assets/images/660x412.png" alt="">
										</div>
										<div class="portfolio-mobile-caption">
											<h4>Project Title 1</h4>
											<span>Category</span>
										</div>
									</a>
								</div>
							</div>
							<!-- Portfolio Slider Item 2 -->
							<div class="swiper-slide">
								<div class="portfolio-box" data-hover-title="Project Title 2">
									<a href="#">
										<div class="portfolio-img">
											<img src="assets/images/660x412.png" alt="">
										</div>
										<div class="portfolio-mobile-caption">
											<h4>Project Title 2</h4>
											<span>Category</span>
										</div>
									</a>
								</div>
							</div>
							<!-- Portfolio Slider Item 3 -->
							<div class="swiper-slide">
								<div class="portfolio-box" data-hover-title="Project Title 3">
									<a href="#">
										<div class="portfolio-img">
											<img src="assets/images/660x412.png" alt="">
										</div>
										<div class="portfolio-mobile-caption">
											<h4>Project Title 3</h4>
											<span>Category</span>
										</div>
									</a>
								</div>
							</div>
						</div><!-- end swiper-wrapper -->
					</div><!-- end swiper -->
				</div><!-- end container -->
			</div>
			<!-- end Portfolio section -->

			<!-- Features section -->
			<div class="section-spacing pt-0">
				<div class="container">
					<div class="row g-4 g-xl-5 icon-4xl" data-cues="fadeIn">
						<!-- Feature box 1 -->
						<div class="col-12 col-lg-4">
							<div class="d-flex align-items-center">
								<div class="d-inline-block pe-4">
									<i class="bi bi-people"></i>
								</div>
								<div class="d-inline-block">
									<h5>Experienced Professionals</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
								</div>
							</div>
						</div>
						<!-- Feature box 2 -->
						<div class="col-12 col-lg-4">
							<div class="d-flex align-items-center">
								<div class="d-inline-block pe-4">
									<i class="bi bi-trophy"></i>
								</div>
								<div class="d-inline-block">
									<h5>Award Winning</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
								</div>
							</div>
						</div>
						<!-- Feature box 3 -->
						<div class="col-12 col-lg-4">
							<div class="d-flex align-items-center">
								<div class="d-inline-block pe-4">
									<i class="bi bi-star"></i>
								</div>
								<div class="d-inline-block">
									<h5>Impressive Results</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
								</div>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Features section -->

			<!-- Pricing section -->
			<div class="section-spacing pt-0">
				<div class="container">
					<div class="row g-4 align-items-center" data-cues="slideInUp">
						<!-- Pricing box 1 -->
						<div class="col-12 col-lg-4">
							<div class="bg-white p-4 p-sm-5 border-radius-1 mt-lg-4 hover-float">
								<div class="d-flex justify-content-between icon-3xl line-height-100">
									<h2 class="mb-0">Basic</h2>
									<i class="bi bi-lightning-charge text-gradient-3"></i>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
									<li><i class="bi bi-x-circle text-red me-2"></i>Ad Design</li>
									<li><i class="bi bi-x-circle text-red me-2"></i>Copywriting</li>
								</ul>
								<div class="d-flex align-items-end">
									<h2 class="display-5 font-family-tertiary line-height-100 mt-3 mb-0">$59</h2>
									<span class="d-inline-block">/monthly</span>
								</div>
								<a class="button button-lg button-fullwidth button-rounded button-dark button-hover-slide mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
						<!-- Pricing box 2 -->
						<div class="col-12 col-lg-4">
							<div class="bg-gradient-3 p-4 p-sm-5 border-radius-1 hover-float">
								<div class="d-flex justify-content-between icon-3xl line-height-100">
									<h2 class="mb-0">Premium</h2>
									<i class="bi bi-star"></i>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle me-2"></i>Public Relations</li>
									<li><i class="bi bi-check2-circle me-2"></i>Ad Design</li>
									<li><i class="bi bi-check2-circle me-2"></i>Copywriting</li>
								</ul>
								<div class="d-flex align-items-end">
									<h2 class="display-5 font-family-tertiary line-height-100 mt-3 mb-0">$99</h2>
									<span class="d-inline-block">/monthly</span>
								</div>
								<a class="button button-lg button-fullwidth button-rounded button-white button-hover-slide button-shadow mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
						<!-- Pricing box 3 -->
						<div class="col-12 col-lg-4">
							<div class="bg-white p-4 p-sm-5 border-radius-1 mt-lg-4 hover-float">
								<div class="d-flex justify-content-between icon-3xl line-height-100">
									<h2 class="mb-0">Advanced</h2>
									<i class="bi bi-lightning-charge text-gradient-3"></i>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Ad Design</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Copywriting</li>
								</ul>
								<div class="d-flex align-items-end">
									<h2 class="display-5 font-family-tertiary line-height-100 mt-3 mb-0">$139</h2>
									<span class="d-inline-block">/monthly</span>
								</div>
								<a class="button button-lg button-fullwidth button-rounded button-dark button-hover-slide mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
						<!-- end Pricing box 3 -->
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Pricing section -->

			<!-- Footer -->
			<div class="bg-black">
				<div class="section-spacing-sm">
					<div class="container">
						<div class="row g-4 g-lg-5">
							<div class="col-12 col-lg-4">
								<h2 class="uppercase letter-spacing-1">Logo</h2>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo sit facilis cum nisi magnam</p>
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								<h6 class="sm-heading">Email:</h6>
								<h3>contact@example.com</h3>
								<p>Mon-Fri 9am-5pm</p>
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								<h6 class="sm-heading">Phone:</h6>
								<h3>+123 456 7890</h3>
								<p>Call or WhatsApp</p>
							</div>
						</div><!-- end row -->
					</div><!-- end container -->
				</div>
				<div class="container">
					<hr class="hr-diagonal">
					<div class="py-4">
						<div class="row g-2">
							<div class="col-12 col-md-6 text-center text-md-start">
								<p>&copy; 2024 FlaTheme, All Rights Reserved.</p>
							</div>
							<div class="col-12 col-md-6 text-center text-md-end">
								<ul class="list-inline-dot">
									<li><a class="link-hover-line" href="#">About us</a></li>
									<li><a class="link-hover-line" href="#">FAQ</a></li>
									<li><a class="link-hover-line" href="#">Contact</a></li>
								</ul>
							</div>
						</div><!-- end row -->
					</div>
				</div><!-- end container -->
			</div>
            <!-- end Footer -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="assets/plugins/jquery.min.js"></script>
		<script src="assets/plugins/plugins.js"></script>
		<script src="assets/js/functions.js"></script>
	</body>
</html>