<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>About us - Media Agency</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body class="bg-iceblue" data-preloader="light">

		<!-- Header -->
		<div class="header nav-center">
			<div class="container-fluid">
				<!-- Logo -->
				<div class="header-logo">
					<h5 class="uppercase">Nuur</h5>
				</div>
				<!-- Menu -->
				<div class="header-menu nav-link-hover-line">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Portfolio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Prices</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
				<!-- Extras -->
				<div class="header-extra">
					<a class="button button-sm button-dark button-rounded button-hover-slide" href="#"><span data-text="Button">Button</span></a>
				</div>
				<!-- Mobile Menu Toggle -->
				<button class="mobile-menu-toggle">
					<span></span>
				</button>
			</div><!-- end container-fluid -->
		</div>
		<!-- end Header -->

		<main>

			<!-- About section -->
			<div class="section-spacing-sm">
				<div class="container">
					<div class="row g-4 g-lg-5">
						<div class="col-12 col-lg-6">
							<h1 class="display-5 fw-semi-bold uppercase mb-0">We're an Award winning Media Agency</h1>
						</div>
						<div class="col-12 col-lg-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor</p>
						</div>
					</div><!-- end row -->
					<div class="row g-3 mt-3">
						<!-- Fact box 1 -->
						<div class="col-12 col-sm-6 col-lg-3">
							<h2 class="display-4 font-family-tertiary mb-0"><span class="counter">20</span>k</h2>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
						<!-- Fact box 2 -->
						<div class="col-12 col-sm-6 col-lg-3">
							<h2 class="display-4 font-family-tertiary mb-0"><span class="counter">124</span></h2>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
						<!-- Fact box 3 -->
						<div class="col-12 col-sm-6 col-lg-3">
							<h2 class="display-4 font-family-tertiary mb-0"><span class="counter">100</span>+</h2>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
						<!-- Fact box 4 -->
						<div class="col-12 col-sm-6 col-lg-3">
							<h2 class="display-4 font-family-tertiary mb-0"><span class="counter">900</span></h2>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
				</div><!-- end container -->
			</div>
			<!-- end About section -->

			<!-- Images -->
			<div class="section-spacing pt-0">
				<div class="container">
					<div class="row g-4">
						<div class="col-12 col-md-6">
							<div class="lightbox-video">
								<img src="../assets/images/618x386.png" alt="">
								<a class="glightbox lightbox-play-btn" href="https://www.youtube.com/watch?v=V8yu12uRpBA">
									<i class="bi bi-play-fill"></i>
								</a>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<img class="mt-md-4" src="../assets/images/618x386.png" alt="">
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Images -->

			<!-- About 2 section -->
			<div class="container">
				<div class="row g-5 align-items-center">
					<div class="col-12 col-lg-4">
						<div class="circle-text rotating">
							<svg viewBox="0 0 200 200" class="circle-svg">
								<path id="textPath" d="M 85,0 A 85,85 0 0 1 -85,0 A 85,85 0 0 1 85,0" transform="translate(100,100)" fill="none" stroke="rgba(28,29,36,0.1)" stroke-width="10"></path>
								<text text-anchor="start">
									<textPath xlink:href="#textPath" textLength="300%">First text - Second text - Third text - Fourth text</textPath>
								</text>
							</svg>
						</div>
					</div>
					<div class="col-12 col-lg-8">
						<div class="d-flex align-items-center" data-cue="slideInRight">
							<div class="icon-3xl pe-4">
								<i class="ti-check-box"></i>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua</p>
						</div>
						<div class="d-flex align-items-center mt-3" data-cue="slideInRight">
							<div class="icon-3xl pe-4">
								<i class="ti-check-box"></i>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna</p>
						</div>
						<div class="row g-4 mt-2">
							<!-- Progress box 1 -->
							<div class="col-12 col-md-6">
								<div class="progress-box">
									<h5>Progress One</h5>
									<div class="animated-progress">
										<div data-progress="98"></div>
									</div>
								</div>
							</div>
							<!-- Progress box 2 -->
							<div class="col-12 col-md-6">
								<div class="progress-box">
									<h5>Progress Two</h5>
									<div class="animated-progress">
										<div data-progress="92"></div>
									</div>
								</div>
							</div>
							<!-- Progress box 3 -->
							<div class="col-12 col-md-6">
								<div class="progress-box">
									<h5>Progress Three</h5>
									<div class="animated-progress">
										<div data-progress="93"></div>
									</div>
								</div>
							</div>
							<!-- Progress box 4 -->
							<div class="col-12 col-md-6">
								<div class="progress-box">
									<h5>Progress Four</h5>
									<div class="animated-progress">
										<div data-progress="97"></div>
									</div>
								</div>
							</div>
						</div><!-- end row(inner) -->
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
			<!-- end About 2 section -->

			<!-- Clients section -->
			<div class="section-spacing-sm pb-0">
				<div class="container">
					<div class="swiper clients-slider-6">
						<div class="swiper-wrapper">
							<!-- Slider Item 1 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 2 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 3 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 4 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 5 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 6 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 7 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- end Slider Item 7 -->
						</div><!-- end swiper-wrapper -->
					</div><!-- end clients-slider -->
				</div><!-- end container -->
			</div>
			<!-- end Clients section -->

			<!-- Team section -->
			<div class="section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3 text-center">
							<h2 class="display-5 fw-semi-bold uppercase text-center">Meet Our Team</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna</p>
						</div>
					</div>
					<div class="row gx-3 gy-4 gy-lg-5 mt-1" data-cues="slideInUp">
						<!-- Team box 1 -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team-box">
								<div class="team-img">
									<img src="../assets/images/team.png" alt="">
								</div>
								<div class="team-hover p-3">
									<div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center">
										<ul class="list-inline-lg">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
											<li><a href="#"><i class="bi bi-instagram"></i></a></li>
											<li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="pt-3 text-center">
								<h5 class="mb-1">Mona Kaplan</h5>
								<span>Co-Founder</span>
							</div>
						</div>
						<!-- Team box 2 -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team-box">
								<div class="team-img">
									<img src="../assets/images/team.png" alt="">
								</div>
								<div class="team-hover p-3">
									<div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center">
										<ul class="list-inline-lg">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
											<li><a href="#"><i class="bi bi-instagram"></i></a></li>
											<li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="pt-3 text-center">
								<h5 class="mb-1">Alexander Warren</h5>
								<span>Creative Director</span>
							</div>
						</div>
						<!-- Team box 3 -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team-box">
								<div class="team-img">
									<img src="../assets/images/team.png" alt="">
								</div>
								<div class="team-hover p-3">
									<div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center">
										<ul class="list-inline-lg">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
											<li><a href="#"><i class="bi bi-instagram"></i></a></li>
											<li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="pt-3 text-center">
								<h5 class="mb-1">Laura Arena</h5>
								<span>Project Manager</span>
							</div>
						</div>
						<!-- Team box 4 -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team-box">
								<div class="team-img">
									<img src="../assets/images/team.png" alt="">
								</div>
								<div class="team-hover p-3">
									<div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center">
										<ul class="list-inline-lg">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
											<li><a href="#"><i class="bi bi-instagram"></i></a></li>
											<li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="pt-3 text-center">
								<h5 class="mb-1">Laura Arena</h5>
								<span>Project Manager</span>
							</div>
						</div>
						<!-- Team box 5 -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team-box">
								<div class="team-img">
									<img src="../assets/images/team.png" alt="">
								</div>
								<div class="team-hover p-3">
									<div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center">
										<ul class="list-inline-lg">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
											<li><a href="#"><i class="bi bi-instagram"></i></a></li>
											<li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="pt-3 text-center">
								<h5 class="mb-1">Mona Kaplan</h5>
								<span>Co-Founder</span>
							</div>
						</div>
						<!-- Team box 6 -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team-box">
								<div class="team-img">
									<img src="../assets/images/team.png" alt="">
								</div>
								<div class="team-hover p-3">
									<div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center">
										<ul class="list-inline-lg">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
											<li><a href="#"><i class="bi bi-instagram"></i></a></li>
											<li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="pt-3 text-center">
								<h5 class="mb-1">Alexander Warren</h5>
								<span>Creative Director</span>
							</div>
						</div>
						<!-- Team box 7 -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team-box">
								<div class="team-img">
									<img src="../assets/images/team.png" alt="">
								</div>
								<div class="team-hover p-3">
									<div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center">
										<ul class="list-inline-lg">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
											<li><a href="#"><i class="bi bi-instagram"></i></a></li>
											<li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="pt-3 text-center">
								<h5 class="mb-1">Laura Arena</h5>
								<span>Project Manager</span>
							</div>
						</div>
						<!-- Team box 8 -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team-box">
								<div class="team-img">
									<img src="../assets/images/team.png" alt="">
								</div>
								<div class="team-hover p-3">
									<div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center">
										<ul class="list-inline-lg">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
											<li><a href="#"><i class="bi bi-instagram"></i></a></li>
											<li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="pt-3 text-center">
								<h5 class="mb-1">Laura Arena</h5>
								<span>Project Manager</span>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Team section -->

			<!-- Footer -->
			<div class="bg-black">
				<div class="section-spacing-sm">
					<div class="container">
						<div class="row g-4 g-lg-5">
							<div class="col-12 col-lg-4">
								<h2 class="uppercase letter-spacing-1">Logo</h2>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo sit facilis cum nisi magnam</p>
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								<h6 class="sm-heading">Email:</h6>
								<h3>contact@example.com</h3>
								<p>Mon-Fri 9am-5pm</p>
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								<h6 class="sm-heading">Phone:</h6>
								<h3>+123 456 7890</h3>
								<p>Call or WhatsApp</p>
							</div>
						</div><!-- end row -->
					</div><!-- end container -->
				</div>
				<div class="container">
					<hr class="hr-diagonal">
					<div class="py-4">
						<div class="row g-2">
							<div class="col-12 col-md-6 text-center text-md-start">
								<p>&copy; 2024 FlaTheme, All Rights Reserved.</p>
							</div>
							<div class="col-12 col-md-6 text-center text-md-end">
								<ul class="list-inline-dot">
									<li><a class="link-hover-line" href="#">About us</a></li>
									<li><a class="link-hover-line" href="#">FAQ</a></li>
									<li><a class="link-hover-line" href="#">Contact</a></li>
								</ul>
							</div>
						</div><!-- end row -->
					</div>
				</div><!-- end container -->
			</div>
            <!-- end Footer -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>