<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Portfolio Single - Media Agency</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body class="bg-iceblue" data-preloader="light">

		<!-- Header -->
		<div class="header nav-center">
			<div class="container-fluid px-md-4 px-xxl-5">
				<!-- Logo -->
				<div class="header-logo">
					<h5 class="uppercase">Nuur</h5>
				</div>
				<!-- Menu -->
				<div class="header-menu nav-link-hover-line">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Portfolio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Prices</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
				<!-- Extras -->
				<div class="header-extra">
					<a class="button button-sm button-dark button-rounded button-hover-slide" href="#"><span data-text="Button">Button</span></a>
				</div>
				<!-- Mobile Menu Toggle -->
				<button class="mobile-menu-toggle">
					<span></span>
				</button>
			</div><!-- end container-fluid -->
		</div>
		<!-- end Header -->

		<main>

			<!-- Project Title -->
			<div class="px-3 px-md-4 px-xxl-5">
				<div class="bg-image parallax" data-bg-src="../assets/images/bg.png">
					<div class="section-spacing-xl bg-black-40">
						<div class="container pb-5 pt-lg-4 pt-xl-5">
							<div class="row">
								<div class="col-12 col-lg-10 offset-lg-1">
									<h1 class="display-3 fw-medium text-center uppercase">Portfolio Single</h1>
								</div>
							</div><!-- end row -->
						</div><!-- end container -->
						<!-- Bottom -->
						<div class="position-absolute bottom-0 start-0 w-100 text-lg-center">
							<div class="row g-0">
								<div class="col-6 col-lg-3">
									<div class="px-4 pb-4">
										<span class="d-block sm-heading text-white">Services</span>
										<span>Marketing, Photoshoot</span>
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="px-4 pb-4">
										<span class="d-block sm-heading text-white">Client</span>
										<span>FlaTheme</span>
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="px-4 pb-4">
										<span class="d-block sm-heading text-white">Duration</span>
										<span>142 Hours</span>
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="px-4 pb-4">
										<span class="d-block sm-heading text-white">Project Link</span>
										<a class="link-hover-line" href="#">www.flatheme.net</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end Project Title -->

			<!-- Project details -->
			<div class="section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1">
							<!-- Heading -->
							<h2 class="fw-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>

							<!-- Paragraph -->
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

							<!-- Lightbox Images -->
							<div class="row g-3 mt-3">
								<div class="col-12 col-md-6">
									<div class="img-link-box">
										<a class="glightbox" href="../assets/images/515x321.png">
											<img src="../assets/images/515x321.png" alt="">
										</a>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="img-link-box">
										<a class="glightbox" href="../assets/images/515x321.png">
											<img src="../assets/images/515x321.png" alt="">
										</a>
									</div>
								</div>
							</div>

							<!-- Heading -->
							<h2 class="fw-medium mt-4 mt-lg-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>

							<!-- Paragraph - 2 columns -->
							<div class="row g-4">
								<div class="col-12 col-lg-6">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
								</div>
								<div class="col-12 col-lg-6">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
								</div>
							</div>

							<!-- Lightbox Video -->
							<div class="lightbox-video mt-4 mt-lg-5">
								<img src="../assets/images/1046x415.png" alt="">
								<a class="glightbox lightbox-play-btn" href="https://www.youtube.com/watch?v=V8yu12uRpBA">
									<i class="bi bi-play"></i>
								</a>
							</div>
						</div>
					</div><!-- end row -->					
				</div><!-- end container -->
			</div>
			<!-- end Project details -->

			<!-- Similar Posts -->
			<hr class="hr-diagonal">
			<div class="section-spacing-sm">
				<div class="container">
					<div class="row g-4 align-items-end">
						<div class="col-12 col-lg-6">
							<h2 class="display-6 fw-semi-bold uppercase mb-0">Similar Projects</h2>
						</div>
						<div class="col-12 col-lg-6 text-lg-end">
							<ul class="list-inline">
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide horizontal-portfolio-prev" href="#">
										<i class="bi bi-arrow-left"></i>
										<i class="bi bi-arrow-left"></i>
									</a>
								</li>
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide horizontal-portfolio-next" href="#">
										<i class="bi bi-arrow-right"></i>
										<i class="bi bi-arrow-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div><!-- end row -->
					<div class="swiper portfolio-horizontal-slider mt-4">
						<div class="swiper-wrapper">
							<!-- Slider Item 1 -->
							<div class="swiper-slide">
								<div class="portfolio-box" data-hover-text="view project">
									<a href="#">
										<div class="portfolio-img">
											<img src="../assets/images/660x412.png" alt="">
										</div>
										<div class="pt-2 d-flex justify-content-between">
											<h3 class="mb-0">Project Title 1</h3>
											<span class="sm-heading text-dark-50">Category</span>
										</div>
									</a>
								</div>
							</div>
							<!-- Slider Item 2 -->
							<div class="swiper-slide">
								<div class="portfolio-box" data-hover-text="view project">
									<a href="#">
										<div class="portfolio-img">
											<img src="../assets/images/660x412.png" alt="">
										</div>
										<div class="pt-2 d-flex justify-content-between">
											<h3 class="mb-0">Project Title 1</h3>
											<span class="sm-heading text-dark-50">Category</span>
										</div>
									</a>
								</div>
							</div>
							<!-- Slider Item 3 -->
							<div class="swiper-slide">
								<div class="portfolio-box" data-hover-text="view project">
									<a href="#">
										<div class="portfolio-img">
											<img src="../assets/images/660x412.png" alt="">
										</div>
										<div class="pt-2 d-flex justify-content-between">
											<h3 class="mb-0">Project Title 1</h3>
											<span class="sm-heading text-dark-50">Category</span>
										</div>
									</a>
								</div>
							</div>
							<!-- Slider Item 4 -->
							<div class="swiper-slide">
								<div class="portfolio-box" data-hover-text="view project">
									<a href="#">
										<div class="portfolio-img">
											<img src="../assets/images/660x412.png" alt="">
										</div>
										<div class="pt-2 d-flex justify-content-between">
											<h3 class="mb-0">Project Title 1</h3>
											<span class="sm-heading text-dark-50">Category</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div><!-- end swiper -->
				</div><!-- end container -->
			</div>
			<!-- end Similar Posts -->

			<!-- Footer -->
			<div class="py-5 bg-dark">
				<div class="container">
					<div class="row g-2">
						<div class="col-12 col-md-6 text-center text-md-start">
							<p>&copy; 2024 FlaTheme, All Rights Reserved.</p>
						</div>
						<div class="col-12 col-md-6 text-center text-md-end">
							<ul class="list-inline-dot">
								<li><a class="link-hover-line" href="#">About us</a></li>
								<li><a class="link-hover-line" href="#">FAQ</a></li>
								<li><a class="link-hover-line" href="#">Contact</a></li>
							</ul>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Footer -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>