<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Portfolio - Media Agency</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body class="bg-iceblue" data-preloader="light">

		<!-- Header -->
		<div class="header nav-center">
			<div class="container-fluid">
				<!-- Logo -->
				<div class="header-logo">
					<h5 class="uppercase">Nuur</h5>
				</div>
				<!-- Menu -->
				<div class="header-menu nav-link-hover-line">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Portfolio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Prices</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
				<!-- Extras -->
				<div class="header-extra">
					<a class="button button-sm button-dark button-rounded button-hover-slide" href="#"><span data-text="Button">Button</span></a>
				</div>
				<!-- Mobile Menu Toggle -->
				<button class="mobile-menu-toggle">
					<span></span>
				</button>
			</div><!-- end container-fluid -->
		</div>
		<!-- end Header -->

		<main>

			<!-- Portfolio section -->
			<div class="section-spacing-sm">
				<div class="container">
					<h1 class="display-3 fw-semi-bold uppercase text-center mb-4">Our Recent Works</h1>
					<!-- Portfolio Filter -->
					<div class="filter mb-4 mb-lg-5 text-center">
						<ul>
							<li data-filter="all">Show All</li>
							<li data-filter=".category-1">First</li>
							<li data-filter=".category-2">Second</li>
							<li data-filter=".category-3">Third</li>
						</ul>
					</div><!-- end Portfolio Filter -->
					<!-- Portfolio -->
					<div class="row custom-row portfolio-grid">
						<!-- Portfolio Item 1 -->
						<div class="col-12 col-md-6 custom-col portfolio-item category-1">
							<div class="portfolio-box" data-hover-text-dark="view project">
								<a href="#">
									<div class="portfolio-img">
										<img src="../assets/images/600x374.png" alt="">
									</div>
									<div class="pt-2 d-flex justify-content-between">
										<h3 class="mb-0">Project Title 1</h3>
										<span class="sm-heading text-dark-50">Category</span>
									</div>
								</a>
							</div>
						</div>
						<!-- Portfolio Item 2 -->
						<div class="col-12 col-md-6 custom-col portfolio-item category-2">
							<div class="portfolio-box" data-hover-text-dark="view project">
								<a href="#">
									<div class="portfolio-img">
										<img src="../assets/images/600x374.png" alt="">
									</div>
									<div class="pt-2 d-flex justify-content-between">
										<h3 class="mb-0">Project Title 1</h3>
										<span class="sm-heading text-dark-50">Category</span>
									</div>
								</a>
							</div>
						</div>
						<!-- Portfolio Item 3 -->
						<div class="col-12 col-md-6 custom-col portfolio-item category-3">
							<div class="portfolio-box" data-hover-text-dark="view project">
								<a href="#">
									<div class="portfolio-img">
										<img src="../assets/images/600x374.png" alt="">
									</div>
									<div class="pt-2 d-flex justify-content-between">
										<h3 class="mb-0">Project Title 1</h3>
										<span class="sm-heading text-dark-50">Category</span>
									</div>
								</a>
							</div>
						</div>
						<!-- Portfolio Item 4 -->
						<div class="col-12 col-md-6 custom-col portfolio-item category-1">
							<div class="portfolio-box" data-hover-text-dark="view project">
								<a href="#">
									<div class="portfolio-img">
										<img src="../assets/images/600x374.png" alt="">
									</div>
									<div class="pt-2 d-flex justify-content-between">
										<h3 class="mb-0">Project Title 1</h3>
										<span class="sm-heading text-dark-50">Category</span>
									</div>
								</a>
							</div>
						</div>
						<!-- Portfolio Item 5 -->
						<div class="col-12 col-md-6 custom-col portfolio-item category-2">
							<div class="portfolio-box" data-hover-text-dark="view project">
								<a href="#">
									<div class="portfolio-img">
										<img src="../assets/images/600x374.png" alt="">
									</div>
									<div class="pt-2 d-flex justify-content-between">
										<h3 class="mb-0">Project Title 1</h3>
										<span class="sm-heading text-dark-50">Category</span>
									</div>
								</a>
							</div>
						</div>
						<!-- Portfolio Item 6 -->
						<div class="col-12 col-md-6 custom-col portfolio-item category-3">
							<div class="portfolio-box" data-hover-text-dark="view project">
								<a href="#">
									<div class="portfolio-img">
										<img src="../assets/images/600x374.png" alt="">
									</div>
									<div class="pt-2 d-flex justify-content-between">
										<h3 class="mb-0">Project Title 1</h3>
										<span class="sm-heading text-dark-50">Category</span>
									</div>
								</a>
							</div>
						</div>
						<!-- end Portfolio Item 6 -->
					</div><!-- end row-->
				</div><!-- end container -->
			</div>
			<!-- end Portfolio section -->

			<!-- Footer -->
			<div class="bg-black">
				<div class="section-spacing-sm">
					<div class="container">
						<div class="row g-4 g-lg-5">
							<div class="col-12 col-lg-4">
								<h2 class="uppercase letter-spacing-1">Logo</h2>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo sit facilis cum nisi magnam</p>
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								<h6 class="sm-heading">Email:</h6>
								<h3>contact@example.com</h3>
								<p>Mon-Fri 9am-5pm</p>
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								<h6 class="sm-heading">Phone:</h6>
								<h3>+123 456 7890</h3>
								<p>Call or WhatsApp</p>
							</div>
						</div><!-- end row -->
					</div><!-- end container -->
				</div>
				<div class="container">
					<hr class="hr-diagonal">
					<div class="py-4">
						<div class="row g-2">
							<div class="col-12 col-md-6 text-center text-md-start">
								<p>&copy; 2024 FlaTheme, All Rights Reserved.</p>
							</div>
							<div class="col-12 col-md-6 text-center text-md-end">
								<ul class="list-inline-dot">
									<li><a class="link-hover-line" href="#">About us</a></li>
									<li><a class="link-hover-line" href="#">FAQ</a></li>
									<li><a class="link-hover-line" href="#">Contact</a></li>
								</ul>
							</div>
						</div><!-- end row -->
					</div>
				</div><!-- end container -->
			</div>
            <!-- end Footer -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>