<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Blog Single</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<!-- Header -->
		<div class="header">
			<div class="container">
				<!-- Logo -->
				<div class="header-logo">
					<h5 class="uppercase">Nuur</h5>
				</div>
				<!-- Menu -->
				<div class="header-menu nav-link-hover-line">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Clients</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
				<!-- Extras -->
				<div class="header-extra ms-4">
					<ul class="list-inline-lg">
						<li>
							<a href="#"><i class="bi bi-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="bi bi-twitter-x"></i></a>
						</li>
						<li>
							<a href="#"><i class="bi bi-instagram"></i></a>
						</li>
					</ul>
				</div>
				<!-- Mobile Menu Toggle -->
				<button class="mobile-menu-toggle">
					<span></span>
				</button>
			</div><!-- end container-fluid -->
		</div>
		<!-- end Header -->

		<main>

			<!-- Post Title -->
			<div class="px-3 px-md-4 px-xxl-5">
				<div class="bg-image parallax" data-bg-src="../assets/images/bg.png">
					<div class="section-spacing-lg bg-black-40">
						<div class="container">
							<div class="row">
								<div class="col-12 col-lg-10 offset-lg-1 col-xl-9 col-xxl-8">
									<ul class="list-inline-dash mb-2">
										<li>Category</li>
										<li>Posted on Apr 21</li>
									</ul>
									<h1 class="display-4 fw-medium">Blog Single Post Title</h1>
									<div class="sm-heading mt-3">Posted by <a href="#">admin</a></div>
								</div>
							</div><!-- end row -->
						</div><!-- end container -->
					</div>
				</div>
			</div>
			<!-- end Post Title -->

			<!-- Post -->
			<div class="section-spacing-sm">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1">
							<!-- Heading -->
							<h2 class="fw-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>

							<!-- Paragraph -->
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

							<!-- Lightbox Images -->
							<div class="row g-3 mt-3">
								<div class="col-12 col-md-6">
									<div class="img-link-box">
										<a class="glightbox" href="../assets/images/515x321.png">
											<img src="../assets/images/515x321.png" alt="">
										</a>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="img-link-box">
										<a class="glightbox" href="../assets/images/515x321.png">
											<img src="../assets/images/515x321.png" alt="">
										</a>
									</div>
								</div>
							</div>

							<!-- Blockquote -->
							<figure class="bg-pattern-diagonal p-4 p-lg-5 mt-4 mt-lg-5">
								<blockquote class="blockquote font-family-tertiary fst-italic fs-4">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi</p>
								</blockquote>
								<figcaption class="blockquote-footer sm-heading mt-0 mb-0 text-dark-40">
									Alexander Warren
								</figcaption>
							</figure>

							<!-- Heading -->
							<h2 class="fw-medium mt-4 mt-lg-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>

							<!-- Paragraph - 2 columns -->
							<div class="row g-4">
								<div class="col-12 col-lg-6">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
								</div>
								<div class="col-12 col-lg-6">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
								</div>
							</div>

							<!-- Lightbox Video -->
							<div class="lightbox-video mt-4 mt-lg-5">
								<img src="../assets/images/1046x415.png" alt="">
								<a class="glightbox lightbox-play-btn" href="https://www.youtube.com/watch?v=V8yu12uRpBA">
									<i class="bi bi-play"></i>
								</a>
							</div>
						</div>
					</div><!-- end row -->					
				</div><!-- end container -->
			</div>
			<!-- end Post -->

			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-10 offset-lg-1">
						<hr class="hr-diagonal">
					</div>
				</div>
			</div>

			<!-- Tags, Share -->
			<div class="section-spacing-xs">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1">
							<div class="row">
								<div class="col-12 col-md-6">
									<ul class="list-inline">
										<li>
											<a class="button button-xs button-radius button-outline-dashed" href="#">#Tag1</a>
										</li>
										<li>
											<a class="button button-xs button-radius button-outline-dashed" href="#">#Tag2</a>
										</li>
										<li>
											<a class="button button-xs button-radius button-outline-dashed" href="#">#Tag3</a>
										</li>
									</ul>
								</div>
								<div class="col-12 col-md-6 text-md-end">
									<ul class="list-inline">
										<li>
											Share on: 
										</li>
										<li>
											<a href="#"><i class="bi bi-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="bi bi-twitter-x"></i></a>
										</li>
										<li>
											<a href="#"><i class="bi bi-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div><!-- end row(inner) -->
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Tags, Share -->

			<!-- Similar Posts -->
			<div class="section-spacing-sm bg-gray">
				<div class="container">
					<div class="row g-4 align-items-end">
						<div class="col-12 col-lg-6">
							<h2 class="display-6 fw-medium mb-0">Similar Posts</h2>
						</div>
						<div class="col-12 col-lg-6 text-lg-end">
							<ul class="list-inline">
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide blog-slider-3-prev" href="#">
										<i class="bi bi-arrow-left"></i>
										<i class="bi bi-arrow-left"></i>
									</a>
								</li>
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide blog-slider-3-next" href="#">
										<i class="bi bi-arrow-right"></i>
										<i class="bi bi-arrow-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div><!-- end row -->
					<div class="swiper blog-slider-3 mt-4">
						<div class="swiper-wrapper">
							<!-- Slider Item 1 -->
							<div class="swiper-slide">
								<div class="img-link-box border-radius-1">
									<a href="#">
										<img src="../assets/images/660x412.png" alt="">
									</a>
								</div>
								<div class="mt-3 mt-lg-4 px-3 px-lg-4">
									<h4>
										<a class="link-hover-reveal" href="#"><i class="bi bi-arrow-right"></i>First Blog Post Title Here</a>
									</h4>
									<ul class="list-inline-dash">
										<li>Mar 4, 2024</li>
										<li>Category</li>
									</ul>
								</div>
							</div>
							<!-- Slider Item 2 -->
							<div class="swiper-slide">
								<div class="img-link-box border-radius-1">
									<a href="#">
										<img src="../assets/images/660x412.png" alt="">
									</a>
								</div>
								<div class="mt-3 mt-lg-4 px-3 px-lg-4">
									<h4>
										<a class="link-hover-reveal" href="#"><i class="bi bi-arrow-right"></i>Second Blog Post Title Here</a>
									</h4>
									<ul class="list-inline-dash">
										<li>Mar 4, 2024</li>
										<li>Category</li>
									</ul>
								</div>
							</div>
							<!-- Slider Item 3 -->
							<div class="swiper-slide">
								<div class="img-link-box border-radius-1">
									<a href="#">
										<img src="../assets/images/660x412.png" alt="">
									</a>
								</div>
								<div class="mt-3 mt-lg-4 px-3 px-lg-4">
									<h4>
										<a class="link-hover-reveal" href="#"><i class="bi bi-arrow-right"></i>Third Blog Post Title Here</a>
									</h4>
									<ul class="list-inline-dash">
										<li>Mar 4, 2024</li>
										<li>Category</li>
									</ul>
								</div>
							</div>
							<!-- Slider Item 4 -->
							<div class="swiper-slide">
								<div class="img-link-box border-radius-1">
									<a href="#">
										<img src="../assets/images/660x412.png" alt="">
									</a>
								</div>
								<div class="mt-3 mt-lg-4 px-3 px-lg-4">
									<h4>
										<a class="link-hover-reveal" href="#"><i class="bi bi-arrow-right"></i>Third Blog Post Title Here</a>
									</h4>
									<ul class="list-inline-dash">
										<li>Mar 4, 2024</li>
										<li>Category</li>
									</ul>
								</div>
							</div>
						</div>
					</div><!-- end swiper -->
				</div><!-- end container -->
			</div>
			<!-- end Similar Posts -->

			<!-- Footer -->
			<div class="py-5 bg-dark">
				<div class="container">
					<div class="row g-2">
						<div class="col-12 col-md-6 text-center text-md-start">
							<p>&copy; 2024 FlaTheme, All Rights Reserved.</p>
						</div>
						<div class="col-12 col-md-6 text-center text-md-end">
							<ul class="list-inline-dot">
								<li><a class="link-hover-line" href="#">About us</a></li>
								<li><a class="link-hover-line" href="#">FAQ</a></li>
								<li><a class="link-hover-line" href="#">Contact</a></li>
							</ul>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Footer -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>