<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Blog List</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<!-- Header -->
		<div class="header header-dark">
			<div class="container">
				<!-- Logo -->
				<div class="header-logo">
					<h5 class="uppercase">Nuur</h5>
				</div>
				<!-- Menu -->
				<div class="header-menu nav-link-hover-line">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Clients</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
				<!-- Extras -->
				<div class="header-extra ms-4">
					<ul class="list-inline-lg">
						<li>
							<a href="#"><i class="bi bi-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="bi bi-twitter-x"></i></a>
						</li>
						<li>
							<a href="#"><i class="bi bi-instagram"></i></a>
						</li>
					</ul>
				</div>
				<!-- Mobile Menu Toggle -->
				<button class="mobile-menu-toggle">
					<span></span>
				</button>
			</div><!-- end container-fluid -->
		</div>
		<!-- end Header -->

		<main>

			<!-- Featured Posts -->
			<div class="section-spacing-sm pb-0">
				<div class="container">
					<!-- Section Title -->
					<div class="divider-side-line">
						<div class="h6 sm-heading mb-0 me-3">Featured Posts</div>
					</div>
					<!-- end Section Title -->
					<div class="swiper blog-slider-featured-3 mt-4 mt-lg-5">
						<div class="swiper-wrapper">
							<!-- Slide 1 -->
							<div class="swiper-slide">
								<div class="interactive-box">
									<img src="../assets/images/500.png" alt="">
									<div class="interactive-overlay">
										<div class="interactive-inner p-4 p-lg-5">
											<ul class="list-inline-dash mb-2">
												<li>Category</li>
												<li>Apr 21</li>
											</ul>
											<h4 class="mb-0">Featured Post Title</h4>
										</div>
										<div class="interactive-hover p-4 p-lg-5">
											<a class="button button-md button-rounded button-white-2" href="#">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<!-- Slide 2 -->
							<div class="swiper-slide">
								<div class="interactive-box">
									<img src="../assets/images/500.png" alt="">
									<div class="interactive-overlay">
										<div class="interactive-inner p-4 p-lg-5">
											<ul class="list-inline-dash mb-2">
												<li>Category</li>
												<li>Apr 21</li>
											</ul>
											<h4 class="mb-0">Featured Post Title</h4>
										</div>
										<div class="interactive-hover p-4 p-lg-5">
											<a class="button button-md button-rounded button-white-2" href="#">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<!-- Slide 3 -->
							<div class="swiper-slide">
								<div class="interactive-box">
									<img src="../assets/images/500.png" alt="">
									<div class="interactive-overlay">
										<div class="interactive-inner p-4 p-lg-5">
											<ul class="list-inline-dash mb-2">
												<li>Category</li>
												<li>Apr 21</li>
											</ul>
											<h4 class="mb-0">Featured Post Title</h4>
										</div>
										<div class="interactive-hover p-4 p-lg-5">
											<a class="button button-md button-rounded button-white-2" href="#">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<!-- Slide 4 -->
							<div class="swiper-slide">
								<div class="interactive-box">
									<img src="../assets/images/500.png" alt="">
									<div class="interactive-overlay">
										<div class="interactive-inner p-4 p-lg-5">
											<ul class="list-inline-dash mb-2">
												<li>Category</li>
												<li>Apr 21</li>
											</ul>
											<h4 class="mb-0">Featured Post Title</h4>
										</div>
										<div class="interactive-hover p-4 p-lg-5">
											<a class="button button-md button-rounded button-white-2" href="#">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div><!-- end swiper-wrapper -->
					</div><!-- end swiper -->
					<div class="blog-slider-featured-3-pagination mt-4"></div>
				</div><!-- end container -->
			</div>
			<!-- end Featured Posts -->

			<div class="section-spacing">
				<div class="container">
					<!-- Section Title -->
					<div class="divider-side-line">
						<div class="h6 sm-heading mb-0 me-3">Recent Posts</div>
					</div>
					<!-- end Section Title -->
					<!-- Recent Post 1 -->
					<div class="row g-4 g-lg-5 align-items-center mt-1">
						<div class="col-12 col-lg-6 col-xl-5">
							<div class="img-link-box border-radius">
								<a href="#">
									<img src="../assets/images/660x412.png" alt="">
								</a>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-7">
							<ul class="list-inline-dash sm-heading mb-3">
								<li>Category</li>
								<li>Apr 21</li>
							</ul>
							<h2><a class="link-hover-line" href="#">Dummy Blog Post Title</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation..</p>
							<a class="button-fancy mt-3 mt-lg-4" href="#">Read More</a>
						</div>
					</div>
					<!-- Recent Post 2 -->
					<div class="row g-4 g-lg-5 align-items-center mt-1">
						<div class="col-12 col-lg-6 col-xl-5">
							<div class="img-link-box border-radius">
								<a href="#">
									<img src="../assets/images/660x412.png" alt="">
								</a>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-7">
							<ul class="list-inline-dash sm-heading mb-3">
								<li>Category</li>
								<li>Apr 21</li>
							</ul>
							<h2><a class="link-hover-line" href="#">Dummy Blog Post Title</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation..</p>
							<a class="button-fancy mt-3 mt-lg-4" href="#">Read More</a>
						</div>
					</div>
					<!-- Recent Post 3 -->
					<div class="row g-4 g-lg-5 align-items-center mt-1">
						<div class="col-12 col-lg-6 col-xl-5">
							<div class="img-link-box border-radius">
								<a href="#">
									<img src="../assets/images/660x412.png" alt="">
								</a>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-7">
							<ul class="list-inline-dash sm-heading mb-3">
								<li>Category</li>
								<li>Apr 21</li>
							</ul>
							<h2><a class="link-hover-line" href="#">Dummy Blog Post Title</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation..</p>
							<a class="button-fancy mt-3 mt-lg-4" href="#">Read More</a>
						</div>
					</div>
				</div><!-- end container -->
			</div>

			<!-- Footer -->
			<div class="py-5 bg-dark">
				<div class="container">
					<div class="row g-2">
						<div class="col-12 col-md-6 text-center text-md-start">
							<p>&copy; 2024 FlaTheme, All Rights Reserved.</p>
						</div>
						<div class="col-12 col-md-6 text-center text-md-end">
							<ul class="list-inline-dot">
								<li><a class="link-hover-line" href="#">About us</a></li>
								<li><a class="link-hover-line" href="#">FAQ</a></li>
								<li><a class="link-hover-line" href="#">Contact</a></li>
							</ul>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
            <!-- end Footer -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>