<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Section Blocks - Awards</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Awards 1</div>
				</div>
			</div>
			<!-- Awards 1 -->
			<div class="section-spacing">
				<div class="container">
					<!-- Awards Item 1 -->
					<hr class="hr-diagonal">
					<div class="py-4 px-md-4">
						<div class="row align-items-center g-1">
							<div class="col-12 col-lg-3">
								<div class="h6 uppercase mb-0">2024</div>
							</div>
							<div class="col-12 col-lg-6 text-lg-center">
								<div class="h4 fw-semi-bold mb-0 uppercase">Best design of the week</div>
							</div>
							<div class="col-12 col-lg-3 text-lg-end">
								<span>Design Awards</span>
							</div>
						</div>
					</div>
					<!-- Awards Item 2 -->
					<hr class="hr-diagonal">
					<div class="py-4 px-md-4">
						<div class="row align-items-center g-1">
							<div class="col-12 col-lg-3">
								<div class="h6 uppercase mb-0">2023</div>
							</div>
							<div class="col-12 col-lg-6 text-lg-center">
								<div class="h4 fw-semi-bold mb-0 uppercase">Featured Designer of the Week</div>
							</div>
							<div class="col-12 col-lg-3 text-lg-end">
								<span>Marketplace Awards</span>
							</div>
						</div>
					</div>
					<!-- Awards Item 3 -->
					<hr class="hr-diagonal">
					<div class="py-4 px-md-4">
						<div class="row align-items-center g-1">
							<div class="col-12 col-lg-3">
								<div class="h6 uppercase mb-0">2023</div>
							</div>
							<div class="col-12 col-lg-6 text-lg-center">
								<div class="h4 fw-semi-bold mb-0 uppercase">People's Choice: Best Idea</div>
							</div>
							<div class="col-12 col-lg-3 text-lg-end">
								<span>Community Awards</span>
							</div>
						</div>
					</div>
					<!-- Awards Item 4 -->
					<hr class="hr-diagonal">
					<div class="py-4 px-md-4">
						<div class="row align-items-center g-1">
							<div class="col-12 col-lg-3">
								<div class="h6 uppercase mb-0">2022</div>
							</div>
							<div class="col-12 col-lg-6 text-lg-center">
								<div class="h4 fw-semi-bold mb-0 uppercase">Best of the Month</div>
							</div>
							<div class="col-12 col-lg-3 text-lg-end">
								<span>Community Awards</span>
							</div>
						</div>
					</div>
					<hr class="hr-diagonal">
				</div><!-- end container -->
			</div>
			<!-- end Awards 1 -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>