<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Section Blocks - Blog</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Blog 1</div>
				</div>
			</div>
			<!-- Blog 1 -->
			<div class="section-spacing-sm bg-gray">
				<div class="container">
					<div class="row g-4 g-lg-5 align-items-center">
						<div class="col-12 col-lg-5 col-xl-4">
							<h2 class="font-family-tertiary">Recent Blog Posts</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt</p>
							<ul class="list-inline mt-3">
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide blog-slider-2sm-prev" href="#">
										<i class="bi bi-arrow-left"></i>
										<i class="bi bi-arrow-left"></i>
									</a>
								</li>
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide blog-slider-2sm-next" href="#">
										<i class="bi bi-arrow-right"></i>
										<i class="bi bi-arrow-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-12 col-lg-7 col-xl-8">
							<div class="swiper blog-slider-2sm">
								<div class="swiper-wrapper">
									<!-- Slider Item 1 -->
									<div class="swiper-slide">
										<div class="float-card">
											<div class="img-link-box">
												<a href="#">
													<img src="../assets/images/660x412.png" alt="">
												</a>
											</div>
											<div class="float-card-text bg-white border-radius">
												<ul class="list-inline-dash mb-2 font-small">
													<li>Mar 4, 2024</li>
													<li>Category</li>
												</ul>
												<h4 class="mb-0">
													<a class="link-hover-line" href="#">First Blog Post Title Here</a>
												</h4>
											</div>
										</div>
									</div>
									<!-- Slider Item 2 -->
									<div class="swiper-slide">
										<div class="float-card">
											<div class="img-link-box">
												<a href="#">
													<img src="../assets/images/660x412.png" alt="">
												</a>
											</div>
											<div class="float-card-text bg-white border-radius">
												<ul class="list-inline-dash mb-2 font-small">
													<li>Mar 4, 2024</li>
													<li>Category</li>
												</ul>
												<h4 class="mb-0">
													<a class="link-hover-line" href="#">First Blog Post Title Here</a>
												</h4>
											</div>
										</div>
									</div>
									<!-- Slider Item 3 -->
									<div class="swiper-slide">
										<div class="float-card">
											<div class="img-link-box">
												<a href="#">
													<img src="../assets/images/660x412.png" alt="">
												</a>
											</div>
											<div class="float-card-text bg-white border-radius">
												<ul class="list-inline-dash mb-2 font-small">
													<li>Mar 4, 2024</li>
													<li>Category</li>
												</ul>
												<h4 class="mb-0">
													<a class="link-hover-line" href="#">First Blog Post Title Here</a>
												</h4>
											</div>
										</div>
									</div>
									<!-- Slider Item 4 -->
									<div class="swiper-slide">
										<div class="float-card">
											<div class="img-link-box">
												<a href="#">
													<img src="../assets/images/660x412.png" alt="">
												</a>
											</div>
											<div class="float-card-text bg-white border-radius">
												<ul class="list-inline-dash mb-2 font-small">
													<li>Mar 4, 2024</li>
													<li>Category</li>
												</ul>
												<h4 class="mb-0">
													<a class="link-hover-line" href="#">First Blog Post Title Here</a>
												</h4>
											</div>
										</div>
									</div>
								</div>
							</div><!-- end swiper -->
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Blog 1 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Blog 2</div>
				</div>
			</div>
			<!-- Blog 2 -->
			<div class="section-spacing bg-gray">
				<div class="container">
					<div class="row g-4 g-xl-5 align-items-center">
						<div class="col-12 col-lg-6">
							<h2 class="display-5 fw-normal">Latest Blog Posts</h2>
							<ul class="list-inline mt-3">
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide blog-slider-3-prev" href="#">
										<i class="bi bi-arrow-left"></i>
										<i class="bi bi-arrow-left"></i>
									</a>
								</li>
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide blog-slider-3-next" href="#">
										<i class="bi bi-arrow-right"></i>
										<i class="bi bi-arrow-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-12 col-lg-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua</p>
							<div class="mt-3">
								<a class="button-fancy-gradient-1" href="#">View More Posts</a>
							</div>
						</div>
					</div><!-- end row -->
					<div class="swiper blog-slider-3 mt-4 mt-lg-5">
						<div class="swiper-wrapper">
							<!-- Slider Item 1 -->
							<div class="swiper-slide">
								<div class="float-card">
									<div class="img-link-box">
										<a href="#">
											<img src="../assets/images/660x412.png" alt="">
										</a>
									</div>
									<div class="float-card-text bg-white border-radius">
										<ul class="list-inline-dash mb-2 font-small">
											<li>Mar 4, 2024</li>
											<li>Category</li>
										</ul>
										<h4 class="mb-0">
											<a class="link-hover-line" href="#">First Blog Post Title Here</a>
										</h4>
									</div>
								</div>
							</div>
							<!-- Slider Item 2 -->
							<div class="swiper-slide">
								<div class="float-card">
									<div class="img-link-box">
										<a href="#">
											<img src="../assets/images/660x412.png" alt="">
										</a>
									</div>
									<div class="float-card-text bg-white border-radius">
										<ul class="list-inline-dash mb-2 font-small">
											<li>Mar 4, 2024</li>
											<li>Category</li>
										</ul>
										<h4 class="mb-0">
											<a class="link-hover-line" href="#">First Blog Post Title Here</a>
										</h4>
									</div>
								</div>
							</div>
							<!-- Slider Item 3 -->
							<div class="swiper-slide">
								<div class="float-card">
									<div class="img-link-box">
										<a href="#">
											<img src="../assets/images/660x412.png" alt="">
										</a>
									</div>
									<div class="float-card-text bg-white border-radius">
										<ul class="list-inline-dash mb-2 font-small">
											<li>Mar 4, 2024</li>
											<li>Category</li>
										</ul>
										<h4 class="mb-0">
											<a class="link-hover-line" href="#">First Blog Post Title Here</a>
										</h4>
									</div>
								</div>
							</div>
							<!-- Slider Item 4 -->
							<div class="swiper-slide">
								<div class="float-card">
									<div class="img-link-box">
										<a href="#">
											<img src="../assets/images/660x412.png" alt="">
										</a>
									</div>
									<div class="float-card-text bg-white border-radius">
										<ul class="list-inline-dash mb-2 font-small">
											<li>Mar 4, 2024</li>
											<li>Category</li>
										</ul>
										<h4 class="mb-0">
											<a class="link-hover-line" href="#">First Blog Post Title Here</a>
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div><!-- end swiper -->
				</div><!-- end container -->
			</div>
			<!-- end Blog 2 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Blog 3</div>
				</div>
			</div>
			<!-- Blog 3 -->
			<div class="section-spacing">
				<div class="container">
					<div class="row g-4 align-items-end">
						<div class="col-12 col-lg-6">
							<div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-gradient-1 text-gradient-1 mb-2">Blog Posts</div>
							<h2 class="display-6 fw-medium mb-0">Recent Blog Posts</h2>
						</div>
						<div class="col-12 col-lg-6 text-lg-end">
							<ul class="list-inline">
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide blog-slider-2-prev" href="#">
										<i class="bi bi-arrow-left"></i>
										<i class="bi bi-arrow-left"></i>
									</a>
								</li>
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide blog-slider-2-next" href="#">
										<i class="bi bi-arrow-right"></i>
										<i class="bi bi-arrow-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div><!-- end row -->
					<div class="swiper blog-slider-2 mt-4 mt-lg-5">
						<div class="swiper-wrapper">
							<!-- Slider Item 1 -->
							<div class="swiper-slide">
								<div class="img-link-box border-radius-1">
									<a href="#">
										<img src="../assets/images/660x412.png" alt="">
									</a>
								</div>
								<div class="mt-3 mt-lg-4 px-3 px-lg-4">
									<h4>
										<a class="link-hover-reveal" href="#"><i class="bi bi-arrow-right"></i>First Blog Post Title Here</a>
									</h4>
									<ul class="list-inline-dash">
										<li>Mar 4, 2024</li>
										<li>Category</li>
									</ul>
								</div>
							</div>
							<!-- Slider Item 2 -->
							<div class="swiper-slide">
								<div class="img-link-box border-radius-1">
									<a href="#">
										<img src="../assets/images/660x412.png" alt="">
									</a>
								</div>
								<div class="mt-3 mt-lg-4 px-3 px-lg-4">
									<h4>
										<a class="link-hover-reveal" href="#"><i class="bi bi-arrow-right"></i>Second Blog Post Title Here</a>
									</h4>
									<ul class="list-inline-dash">
										<li>Mar 4, 2024</li>
										<li>Category</li>
									</ul>
								</div>
							</div>
							<!-- Slider Item 3 -->
							<div class="swiper-slide">
								<div class="img-link-box border-radius-1">
									<a href="#">
										<img src="../assets/images/660x412.png" alt="">
									</a>
								</div>
								<div class="mt-3 mt-lg-4 px-3 px-lg-4">
									<h4>
										<a class="link-hover-reveal" href="#"><i class="bi bi-arrow-right"></i>Third Blog Post Title Here</a>
									</h4>
									<ul class="list-inline-dash">
										<li>Mar 4, 2024</li>
										<li>Category</li>
									</ul>
								</div>
							</div>
						</div>
					</div><!-- end swiper -->
				</div><!-- end container -->
			</div>
			<!-- end Blog 3 -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>