<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Section Blocks - Call to Action</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Call to Action 1</div>
				</div>
			</div>
			<!-- Call to Action 1 -->
			<div class="section-spacing">
				<div class="container">
					<div class="bg-image parallax border-radius-2" data-bg-src="../assets/images/bg.png">
						<div class="section-spacing-lg bg-black-70 px-4 px-md-5 text-center">
							<div class="row">
								<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
									<div class="h1 display-4 text-white">Become a Client</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
									<ul class="list-inline-2xl mt-4">
										<li>
											<a class="button button-rounded button-lg button-gradient-1" href="#">Let's Talk</a>
										</li>
										<li>
											<a class="link-hover-line" href="#">About us</a>	
										</li>
									</ul>
								</div>
							</div><!-- end row -->
						</div>
					</div>
				</div><!-- end container -->
			</div>
			<!-- end Call to Action 1 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Call to Action 2</div>
				</div>
			</div>
			<!-- Call to Action 2 -->
			<div class="section-spacing px-3 px-md-4 px-xxl-5">
				<div class="bg-image parallax border-radius-2" data-bg-src="assets/images/bg.png">
					<div class="section-spacing-lg bg-black-70 px-4 px-md-5 text-center">
						<div class="container">
							<div class="row">
								<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
									<div class="h1 display-4 text-white">Call to Action</div>
									<p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua</p>
									<ul class="list-inline-2xl mt-4" data-cues="slideInUp">
										<li>
											<a class="button button-rounded button-lg button-gradient-2" href="#">Learn More</a>
										</li>
										<li>
											<a class="link-hover-line" href="#">Get In Touch</a>	
										</li>
									</ul>
								</div>
							</div><!-- end row -->
						</div><!-- end container -->
					</div>
				</div>
			</div>
			<!-- end Call to Action 2 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Call to Action 3</div>
				</div>
			</div>
			<!-- Call to Action 3 -->
			<div class="section-spacing">
				<div class="container">
					<div class="bg-image parallax border-radius-1" data-bg-src="../assets/images/bg.png">
						<div class="bg-black-70 px-4 py-5 p-md-5">
							<div class="row g-4 align-items-center">
								<div class="col-12 col-lg-8 text-center text-lg-start">
									<div class="h1 display-4 text-white fw-bold stroke-text mb-0 uppercase">We're ready to start</div>
								</div>
								<div class="col-12 col-lg-4 text-center text-lg-end" data-cue="slideInLeft">
									<a class="button button-rounded button-lg button-gradient-1" href="#">Let's Talk</a>
								</div>
							</div><!-- end row -->
						</div>
					</div>
				</div><!-- end container -->
			</div>
			<!-- end Call to Action 3 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Call to Action 4</div>
				</div>
			</div>
			<!-- Call to Action 4 -->
			<div class="section-spacing px-3 px-md-4 px-xxl-5">
				<div class="bg-image parallax border-radius-2" data-bg-src="../assets/images/bg.png">
					<div class="section-spacing-sm bg-black-70 px-4 px-lg-5">
						<div class="container">
							<div class="row align-items-center g-4">
								<div class="col-12 col-lg-8 col-xl-9">
									<div class="h1 display-4 fw-medium mb-0">We're ready to elevate your business</div>
								</div>
								<div class="col-12 col-lg-4 col-xl-3 text-lg-end" data-cue="slideInLeft">
									<a class="button button-rounded button-lg button-gradient-2 button-hover-slide" href="#">
										<span data-text="Get in Touch">Get in Touch</span>
									</a>
								</div>
							</div><!-- end row -->
						</div><!-- end container -->
					</div>
				</div>
			</div>
			<!-- end Call to Action 4 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Call to Action 5</div>
				</div>
			</div>
			<!-- Call to Action 5 -->
			<div class="bg-image parallax" data-bg-src="../assets/images/bg.png">
				<div class="section-spacing bg-black-70">
					<div class="container">
						<div class="row g-4 align-items-center">
							<div class="col-12 col-lg-8 text-center text-lg-start">
								<div class="h1 display-4 text-white fw-semi-bold mb-0 uppercase">We're ready to start</div>
							</div>
							<div class="col-12 col-lg-4 text-center text-lg-end" data-cue="slideInLeft">
								<a class="button button-rounded button-lg button-white-2 button-hover-slide" href="#">
									<span data-text="Let's Talk">Let's Talk</span>
								</a>
							</div>
						</div><!-- end row -->
					</div>
				</div><!-- end container -->
			</div>
			<!-- end Call to Action 5 -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>