<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Section Blocks - Clients</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Clients 1 - 6 columns</div>
				</div>
			</div>
			<!-- Clients 1 -->
			<div class="section-spacing">
				<div class="container">
					<div class="swiper clients-slider-6">
						<div class="swiper-wrapper">
							<!-- Slider Item 1 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 2 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 3 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 4 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 5 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- Slider Item 6 -->
							<div class="swiper-slide">
								<div class="client-box">
									<a href="#">
										<img src="../assets/images/client-logo.png" alt="">
									</a>
								</div>
							</div>
							<!-- end Slider Item 6 -->
						</div><!-- end swiper-wrapper -->
					</div><!-- end clients-slider -->
				</div><!-- end container -->
			</div>
			<!-- end Clients 1 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Clients 2 - 5 columns</div>
				</div>
			</div>
			<!-- Clients 2 -->
			<div class="section-spacing-sm">
				<div class="container">
					<div class="row g-4 g-lg-5 align-items-center">
						<div class="col-12 col-lg-3 text-center text-lg-start">
							<p>We've over 300 satisfied clients around the world</p>
						</div>
						<div class="col-12 col-lg-9">
							<div class="swiper clients-slider-5">
								<div class="swiper-wrapper">
									<!-- Slider Item 1 -->
									<div class="swiper-slide">
										<div class="client-box">
											<a href="#">
												<img src="../assets/images/client-logo.png" alt="">
											</a>
										</div>
									</div>
									<!-- Slider Item 2 -->
									<div class="swiper-slide">
										<div class="client-box">
											<a href="#">
												<img src="../assets/images/client-logo.png" alt="">
											</a>
										</div>
									</div>
									<!-- Slider Item 3 -->
									<div class="swiper-slide">
										<div class="client-box">
											<a href="#">
												<img src="../assets/images/client-logo.png" alt="">
											</a>
										</div>
									</div>
									<!-- Slider Item 4 -->
									<div class="swiper-slide">
										<div class="client-box">
											<a href="#">
												<img src="../assets/images/client-logo.png" alt="">
											</a>
										</div>
									</div>
									<!-- Slider Item 5 -->
									<div class="swiper-slide">
										<div class="client-box">
											<a href="#">
												<img src="../assets/images/client-logo.png" alt="">
											</a>
										</div>
									</div>
									<!-- Slider Item 6 -->
									<div class="swiper-slide">
										<div class="client-box">
											<a href="#">
												<img src="../assets/images/client-logo.png" alt="">
											</a>
										</div>
									</div>
									<!-- end Slider Item 6 -->
								</div><!-- end swiper-wrapper -->
							</div><!-- end clients-slider -->
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Clients 2 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Clients 3 - Grid</div>
				</div>
			</div>
			<!-- Clients 3 -->
			<div class="section-spacing-sm bg-pattern-diagonal">
				<div class="container">
					<div class="row g-4 g-lg-5 align-items-center">
						<div class="col-12 col-lg-4">
							<h2 class="font-family-tertiary">We've over 4,000 trusted clients around the world</h2>
						</div>
						<div class="col-12 col-lg-8">
							<div class="row g-5" data-cues="fadeIn">
								<!-- Client box 1 -->
								<div class="col-6 col-md-4 col-xl-3">
									<div class="client-box">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
										</a>
									</div>
								</div>
								<!-- Client box 2 -->
								<div class="col-6 col-md-4 col-xl-3">
									<div class="client-box">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
										</a>
									</div>
								</div>
								<!-- Client box 3 -->
								<div class="col-6 col-md-4 col-xl-3">
									<div class="client-box">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
										</a>
									</div>
								</div>
								<!-- Client box 4 -->
								<div class="col-6 col-md-4 col-xl-3">
									<div class="client-box">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
										</a>
									</div>
								</div>
								<!-- Client box 5 -->
								<div class="col-6 col-md-4 col-xl-3">
									<div class="client-box">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
										</a>
									</div>
								</div>
								<!-- Client box 6 -->
								<div class="col-6 col-md-4 col-xl-3">
									<div class="client-box">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
										</a>
									</div>
								</div>
								<!-- Client box 7 -->
								<div class="col-6 col-md-4 col-xl-3">
									<div class="client-box">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
										</a>
									</div>
								</div>
								<!-- Client box 8 -->
								<div class="col-6 col-md-4 col-xl-3">
									<div class="client-box">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
										</a>
									</div>
								</div>
							</div><!-- end row(inner) -->
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Clients 3 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Clients 4 - Grid</div>
				</div>
			</div>
			<!-- Clients 4 -->
			<div class="section-spacing-sm">
				<div class="container">
					<h1 class="display-3 fw-normal font-family-tertiary fst-italic text-dark-30 text-center mb-4 mb-lg-5">Our Amazing Clients</h1>
					<div class="row">
						<div class="col-12 col-xl-10 offset-xl-1">
							<ul class="border-grid column-4">
								<!-- Client box 1 -->
								<li class="p-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 2 -->
								<li class="p-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 3 -->
								<li class="p-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 4 -->
								<li class="p-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 5 -->
								<li class="p-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 6 -->
								<li class="p-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 7 -->
								<li class="p-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 8 -->
								<li class="p-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
							</ul>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Clients 4 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Clients 5 - Grid</div>
				</div>
			</div>
			<div class="section-spacing-sm">
				<div class="container">
					<div class="row g-4 g-xl-5 align-items-center">
						<div class="col-12 col-lg-4 text-center text-lg-start">
							<h2 class="fw-medium display-6">We've over 300 <span class="text-highlight-gradient-2">clients</span> around the world</h2>
							<a class="button button-md button-rounded button-gradient-2 mt-3 mt-lg-4" href="#">Become a Client</a>
						</div>
						<div class="col-12 col-lg-8">
							<ul class="border-grid column-3">
								<!-- Client box 1 -->
								<li class="px-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 2 -->
								<li class="px-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 3 -->
								<li class="px-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 4 -->
								<li class="px-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 5 -->
								<li class="px-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 6 -->
								<li class="px-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 7 -->
								<li class="px-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 8 -->
								<li class="px-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
								<!-- Client box 9 -->
								<li class="px-lg-5">
									<div class="client-box-with-link">
										<a href="#">
											<img src="../assets/images/client-logo.png" alt="">
											<span>flatheme.net</span>
										</a>
									</div>
								</li>
							</ul>
						</div>
					</div><!-- end row -->
				</div>
			</div>

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>