<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Section Blocks - FAQ</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">FAQ 1</div>
				</div>
			</div>
			<!-- FAQ 1 -->
			<div class="section-spacing">
				<div class="container">
					<div class="bg-gray p-4 p-lg-5 border-radius-1" data-cue="slideInUp">
						<div class="row custom-row align-items-center">
							<div class="col-12 col-lg-6 order-lg-2 custom-col">
								<h2 class="display-6 fw-medium">Got other questions? Get in touch with our friendly support team</h2>
								<a class="button button-lg button-rounded button-gradient-1 button-hover-slide mt-3" href="#">
									<span data-text="Let's Talk">Let's Talk</span>
								</a>
							</div>
							<div class="col-12 col-lg-6 order-lg-1 custom-col">
								<ul class="accordion style-2">
									<li class="active">
										<div class="accordion-title">
											<h5>First Question</h5>
											<div class="accordion-toggle">
												<span></span>
											</div>
										</div>
										<div class="accordion-content">
											<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit</p>
										</div>
									</li>
									<li>
										<div class="accordion-title">
											<h5>Second Question</h5>
											<div class="accordion-toggle">
												<span></span>
											</div>
										</div>
										<div class="accordion-content">
											<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit</p>
										</div>
									</li>
									<li>
										<div class="accordion-title">
											<h5>Third Question</h5>
											<div class="accordion-toggle">
												<span></span>
											</div>
										</div>
										<div class="accordion-content">
											<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit</p>
										</div>
									</li>
								</ul>
							</div>
						</div><!-- end row -->
					</div>
				</div><!-- end container -->
			</div>
			<!-- end FAQ 1 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">FAQ 2</div>
				</div>
			</div>
			<!-- FAQ 2 -->
			<div class="section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-12 col-xl-10 offset-xl-1">
							<div class="bg-gradient-5 bg-opacity-10 border-radius-1 p-4 p-lg-5">
								<h2 class="display-6 fw-medium text-center mb-3"><span class="text-gradient-5">Frequently Asked Questions</span></h2>
								<ul class="accordion style-2">
									<li class="active">
										<div class="accordion-title">
											<h5 class="text-dark">First Question</h5>
											<div class="accordion-toggle">
												<span></span>
											</div>
										</div>
										<div class="accordion-content">
											<p class="text-dark-70">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.</p>
										</div>
									</li>
									<li>
										<div class="accordion-title">
											<h5 class="text-dark">Second Question</h5>
											<div class="accordion-toggle">
												<span></span>
											</div>
										</div>
										<div class="accordion-content">
											<p class="text-dark-70">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.</p>
										</div>
									</li>
									<li>
										<div class="accordion-title">
											<h5 class="text-dark">Third Question</h5>
											<div class="accordion-toggle">
												<span></span>
											</div>
										</div>
										<div class="accordion-content">
											<p class="text-dark-70">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end FAQ 2 -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>