<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Section Blocks - Hero</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Hero 1</div>
				</div>
			</div>
			<!-- Hero 1 -->
			<div class="bg-image parallax" data-bg-src="../assets/images/bg.png">
				<div class="section-spacing-xl bg-black-50">
					<div class="container">
						<div class="row">
							<div class="col-12 col-xl-10 offset-xl-1">
								<h1 class="display-1 fw-semi-bold uppercase display-xl">
									<span class="d-block">Balanced,</span>
									<span class="d-block font-family-poppins fw-bold stroke-text text-center">Creative</span>
									<span class="d-block text-end">Solutions</span>
								</h1>
							</div>
						</div><!-- end row -->
					</div><!-- end container -->
				</div>
			</div>
			<!-- end Hero 1 -->


			<div class="section-spacing-sm bg-dark mb-3 mb-md-4 mb-xxl-5">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Hero 2</div>
				</div>
			</div>
			<!-- Hero 2 -->
			<div class="px-3 px-md-4 px-xxl-5">
				<div class="bg-image parallax border-radius-2" data-bg-src="../assets/images/bg.png">
					<div class="section-spacing-xl bg-black-40">
						<div class="container text-center py-lg-4">
							<div class="row g-4">
								<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
									<h1 class="display-2 fw-normal">Experienced & Professional Community</h1>
									<ul class="list-inline-2xl mt-4">
										<li>
											<a class="button button-lg button-rounded button-gradient-2 button-hover-slide" href="#"><span data-text="Learn More">Learn More</span></a>
										</li>
										<li>
											<a class="link-hover-line font-family-secondary ms-lg-2" href="#">Get In Touch</a>
										</li>
									</ul>
								</div>
							</div><!-- end row -->
						</div><!-- end container -->
					</div>
				</div>
			</div>
			<!-- end Hero 2 -->


			<div class="section-spacing-sm bg-dark mt-3 mt-md-4 mt-xxl-5">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Hero 3</div>
				</div>
			</div>
			<!-- Hero 3 -->
			<div class="section-spacing-xl bg-black-40">
				<div class="bg-video">
					<video playsinline autoplay muted loop>
						<source src="../assets/images/bg-video.mp4" type="video/mp4">
					</video>
				</div>
				<div class="container text-center">
					<div class="py-4 py-lg-5">
						<h1 class="display-1 fw-semi-bold uppercase mb-0">Video Background</h1>
					</div>
				</div><!-- end container -->
			</div>
			<!-- end Hero 3 -->


			<div class="section-spacing-sm bg-dark mb-3 mb-md-4 mb-xxl-5">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Hero 4</div>
				</div>
			</div>
			<!-- Hero 4 -->
			<div class="px-3 px-md-4 px-xxl-5">
				<div class="position-relative">
					<!-- BG Video -->
					<div class="bg-video">
						<video playsinline autoplay muted loop>
							<source src="assets/images/bg-video.mp4" type="video/mp4">
						</video>
					</div>
					<!-- end BG Video -->
					<div class="section-spacing-xl bg-gradient-5 bg-opacity-60">
						<div class="container text-center pb-5 pt-lg-4 pt-xl-5">
							<div class="row g-4">
								<div class="col-12 col-xl-10 offset-xl-1 col-xxl-8 offset-xxl-2">
									<h1 class="display-1 fw-semi-bold uppercase">Revolutionizing <span class="stroke-text font-family-poppins">the Industry</span></h1>
								</div>
							</div><!-- end row -->
						</div><!-- end container -->
						<!-- Hero bottom -->
						<div class="position-absolute bottom-0 start-0 w-100 text-lg-center">
							<div class="row g-0">
								<div class="col-6 col-lg-3">
									<div class="px-4 pb-4 sm-heading">
										<i class="bi bi-lightbulb pe-2"></i>
										Creative Minds
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="px-4 pb-4 sm-heading">
										<i class="bi bi-briefcase pe-2"></i>
										Decade of Experience
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="px-4 pb-4 sm-heading">
										<i class="bi bi-trophy pe-2"></i>
										Award Winning
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="px-4 pb-4 sm-heading">
										<i class="bi bi-chat pe-2"></i>
										Friendly Support
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end Hero 4 -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>