<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Section Blocks - Prices</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Prices 1</div>
				</div>
			</div>
			<!-- Prices 1 -->
			<div class="section-spacing bg-gray">
				<div class="container">
					<div class="row g-4 g-lg-5 align-items-center">
						<div class="col-12 col-md-10 col-lg-8 col-xl-4">
							<h2 class="display-3 fw-normal font-family-tertiary fst-italic text-dark-30 mb-4">Competitive Pricing</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua</p>
							<a class="button-fancy-gradient-1 mt-4" href="#">Custom Work</a>
						</div>
						<div class="col-12 col-xl-8">
							<div class="row g-4 align-items-center">
								<!-- Pricing box 1 -->
								<div class="col-12 col-lg-6">
									<div class="bg-white p-4 p-sm-5" data-bottom-top="transform: translateY(10px)" data-top-bottom="transform: translateY(-36px)">
										<div class="d-flex justify-content-between icon-3xl line-height-100">
											<h2 class="mb-0">Basic</h2>
											<i class="bi bi-lightning-charge text-gradient-1"></i>
										</div>
										<ul class="list-border-dashed mt-3">
											<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
											<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
											<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
											<li><i class="bi bi-check2-circle text-green me-2"></i>Ad Design</li>
										</ul>
										<div class="d-flex align-items-end">
											<h2 class="display-5 font-family-tertiary line-height-100 mt-3 mb-0">$59</h2>
											<span class="d-inline-block">/monthly</span>
										</div>
										<a class="button button-lg button-fullwidth button-rounded button-hover-slide button-dark mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
									</div>
								</div>
								<!-- Pricing box 2 -->
								<div class="col-12 col-lg-6">
									<div class="bg-gradient-1 p-4 p-sm-5" data-bottom-top="transform: translateY(-10px)" data-top-bottom="transform: translateY(36px)">
										<div class="d-flex justify-content-between icon-3xl line-height-100">
											<h2 class="mb-0">Premium</h2>
											<i class="bi bi-star"></i>
										</div>
										<ul class="list-border-dashed mt-3">
											<li><i class="bi bi-check2-circle me-2"></i>Advertising</li>
											<li><i class="bi bi-check2-circle me-2"></i>Media Management</li>
											<li><i class="bi bi-check2-circle me-2"></i>Public Relations</li>
											<li><i class="bi bi-check2-circle me-2"></i>Ad Design</li>
										</ul>
										<div class="d-flex align-items-end">
											<h2 class="display-5 font-family-tertiary line-height-100 mt-3 mb-0">$99</h2>
											<span class="d-inline-block">/monthly</span>
										</div>
										<a class="button button-lg button-fullwidth button-rounded button-hover-slide button-white mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
									</div>
								</div>
								<!-- end Pricing box 2 -->
							</div><!-- end row -->
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Prices 1 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Prices 2</div>
				</div>
			</div>
			<!-- Prices 2 -->
			<div class="section-spacing bg-gray">
				<div class="container">
					<div class="row g-0 align-items-center">
						<div class="col-12 col-lg-4">
							<div class="bg-white-70 p-4 p-sm-5">
								<div class="d-flex justify-content-between icon-3xl line-height-100">
									<h2 class="mb-0">Basic</h2>
									<i class="bi bi-lightning-charge text-gradient-1"></i>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
									<li><i class="bi bi-x-circle text-red me-2"></i>Ad Design</li>
									<li><i class="bi bi-x-circle text-red me-2"></i>Copywriting</li>
								</ul>
								<div class="d-flex align-items-end">
									<h2 class="display-5 font-family-tertiary line-height-100 mt-3 mb-0">$59</h2>
									<span class="d-inline-block">/monthly</span>
								</div>
								<a class="button button-lg button-fullwidth button-rounded button-hover-slide button-outline-dashed mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="bg-gradient-1 text-center p-3">
								<h6 class="sm-heading mb-0 text-white">Great Deal!</h6>
							</div>
							<div class="bg-white p-4 p-sm-5">
								<div class="d-flex justify-content-between icon-3xl line-height-100">
									<h2 class="mb-0">Premium</h2>
									<i class="bi bi-star text-gradient-1"></i>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Ad Design</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Copywriting</li>
								</ul>
								<div class="d-flex align-items-end">
									<h2 class="display-5 font-family-tertiary line-height-100 mt-3 mb-0">$99</h2>
									<span class="d-inline-block">/monthly</span>
								</div>
								<a class="button button-lg button-fullwidth button-rounded button-hover-slide button-gradient-1 mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="bg-white-70 p-4 p-sm-5">
								<div class="d-flex justify-content-between icon-3xl line-height-100">
									<h2 class="mb-0">Advanced</h2>
									<i class="bi bi-lightning-charge text-gradient-1"></i>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Ad Design</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Copywriting</li>
								</ul>
								<div class="d-flex align-items-end">
									<h2 class="display-5 font-family-tertiary line-height-100 mt-3 mb-0">$139</h2>
									<span class="d-inline-block">/monthly</span>
								</div>
								<a class="button button-lg button-fullwidth button-rounded button-hover-slide button-outline-dashed mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Prices 2 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Prices 3</div>
				</div>
			</div>
			<!-- Prices 3 -->
			<div class="section-spacing">
				<div class="container">
					<div class="row g-3 g-lg-4 g-xl-5">
						<div class="col-12 col-lg-6">
							<h2 class="display-5 fw-medium mb-0"><span class="text-gradient-1">We offer great services for competitive prices</span></h2>
						</div>
						<div class="col-12 col-lg-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua</p>
							<a class="button-fancy-gradient-1 mt-4" href="#">Let's Talk</a>
						</div>
					</div><!-- end row -->
					<div class="row g-4 mt-4 mt-lg-5" data-cues="slideInUp">
						<div class="col-12 col-lg-4">
							<div class="bg-white box-shadow border-radius p-4 p-sm-5 mt-lg-3">
								<div class="d-flex justify-content-between icon-3xl line-height-100">
									<h3 class="mb-0">Basic</h3>
									<i class="bi bi-lightning-charge text-gradient-1"></i>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
									<li><i class="bi bi-x-circle text-red me-2"></i>Ad Design</li>
									<li><i class="bi bi-x-circle text-red me-2"></i>Copywriting</li>
								</ul>
								<div class="d-flex align-items-end">
									<h2 class="display-5 font-family-tertiary line-height-100 mt-3 mb-0">$59</h2>
									<span class="d-inline-block">/monthly</span>
								</div>
								<a class="button button-lg button-fullwidth button-dark button-rounded button-hover-slide mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="bg-gradient-1 box-shadow border-radius p-4 p-sm-5">
								<div class="d-flex justify-content-between icon-3xl line-height-100">
									<h3 class="mb-0">Premium</h3>
									<i class="bi bi-lightning-charge"></i>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle me-2"></i>Public Relations</li>
									<li><i class="bi bi-check2-circle me-2"></i>Ad Design</li>
									<li><i class="bi bi-x-circle me-2"></i>Copywriting</li>
								</ul>
								<div class="d-flex align-items-end">
									<h2 class="display-5 font-family-tertiary line-height-100 mt-3 mb-0">$59</h2>
									<span class="d-inline-block">/monthly</span>
								</div>
								<a class="button button-lg button-fullwidth button-rounded button-white button-hover-slide mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="bg-white box-shadow border-radius p-4 p-sm-5 mt-lg-3">
								<div class="d-flex justify-content-between icon-3xl line-height-100">
									<h3 class="mb-0">Advanced</h3>
									<i class="bi bi-lightning-charge text-gradient-1"></i>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
									<li><i class="bi bi-x-circle text-red me-2"></i>Ad Design</li>
									<li><i class="bi bi-x-circle text-red me-2"></i>Copywriting</li>
								</ul>
								<div class="d-flex align-items-end">
									<h2 class="display-5 font-family-tertiary line-height-100 mt-3 mb-0">$59</h2>
									<span class="d-inline-block">/monthly</span>
								</div>
								<a class="button button-lg button-fullwidth button-dark button-rounded button-hover-slide mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Prices 3 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Prices 4</div>
				</div>
			</div>
			<!-- Prices 4 -->
			<div class="section-spacing bg-gray">
				<div class="container">
					<div class="row g-4">
						<div class="col-12 col-lg-4">
							<div class="bg-white box-shadow border-radius p-4 p-sm-5">
								<h4>Basic</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
								<div class="d-flex align-items-end">
									<div class="h1 display-5 font-family-tertiary line-height-100 mt-3 mb-0">$59</div>
									<span class="d-inline-block">/monthly</span>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Ad Design</li>
								</ul>
								<a class="button button-lg button-fullwidth button-dark button-rounded button-hover-slide mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="bg-gradient-5 box-shadow border-radius p-4 p-sm-5">
								<h4>Premium</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
								<div class="d-flex align-items-end">
									<div class="h1 display-5 font-family-tertiary line-height-100 mt-3 mb-0">$59</div>
									<span class="d-inline-block">/monthly</span>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle me-2"></i>Public Relations</li>
									<li><i class="bi bi-check2-circle me-2"></i>Ad Design</li>
								</ul>
								<a class="button button-lg button-fullwidth button-rounded button-white button-hover-slide mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="bg-white box-shadow border-radius p-4 p-sm-5">
								<h4>Advanced</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
								<div class="d-flex align-items-end">
									<div class="h1 display-5 font-family-tertiary line-height-100 mt-3 mb-0">$59</div>
									<span class="d-inline-block">/monthly</span>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Ad Design</li>
								</ul>
								<a class="button button-lg button-fullwidth button-dark button-rounded button-hover-slide mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Prices 4 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Prices 5</div>
				</div>
			</div>
			<!-- Prices 5 -->
			<div class="section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-10 col-lg-8 col-xl-6">
							<h2 class="display-6 fw-medium">Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
						</div>
					</div><!-- end row -->
					<div class="divider-side-line mt-3">
						<div class="h6 sm-heading mb-0 me-3">Pricing</div>
					</div>
					<div class="row g-2 mt-4 mt-lg-5 hover-border-wrapper" data-cues="slideInUp">
						<!-- Prices box 1 -->
						<div class="col-12 col-md-4">
							<div class="p-4 p-lg-5 hover-border hover-border-active">
								<h4>Basic</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
								<div class="d-flex align-items-end">
									<div class="h1 display-5 font-family-tertiary line-height-100 mt-3 mb-0">$59</div>
									<span class="d-inline-block">/per hour</span>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Ad Design</li>
								</ul>
								<a class="button button-lg button-fullwidth button-dark button-rounded button-hover-slide mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
						<!-- Prices box 2 -->
						<div class="col-12 col-md-4">
							<div class="p-4 p-lg-5 hover-border">
								<h4>Premium</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
								<div class="d-flex align-items-end">
									<div class="h1 display-5 font-family-tertiary line-height-100 mt-3 mb-0">$99</div>
									<span class="d-inline-block">/per hour</span>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Ad Design</li>
								</ul>
								<a class="button button-lg button-outline-dashed button-fullwidth button-rounded button-hover-slide mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
						<!-- Prices box 3 -->
						<div class="col-12 col-md-4">
							<div class="p-4 p-lg-5 hover-border">
								<h4>Advanced</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
								<div class="d-flex align-items-end">
									<div class="h1 display-5 font-family-tertiary line-height-100 mt-3 mb-0">$139</div>
									<span class="d-inline-block">/per hour</span>
								</div>
								<ul class="list-border-dashed mt-3">
									<li><i class="bi bi-check2-circle text-green me-2"></i>Advertising</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Media Management</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Public Relations</li>
									<li><i class="bi bi-check2-circle text-green me-2"></i>Ad Design</li>
								</ul>
								<a class="button button-lg button-outline-dashed button-fullwidth button-rounded button-hover-slide mt-4" href="#"><span data-text="Choose Plan">Choose Plan</span></a>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Prices 5 -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>