<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Section Blocks - Testimonial</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Testimonial 1</div>
				</div>
			</div>
			<!-- Testimonial 1 -->
			<div class="section-spacing">
				<div class="container">
					<div class="row g-4 g-lg-5">
						<div class="col-12 col-lg-4">
							<h2 class="display-6 fw-medium">What our customers say about us?</h2>
							<ul class="list-inline mt-3">
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide testimonial-slider-prev" href="#">
										<i class="bi bi-arrow-left"></i>
										<i class="bi bi-arrow-left"></i>
									</a>
								</li>
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide testimonial-slider-next" href="#">
										<i class="bi bi-arrow-right"></i>
										<i class="bi bi-arrow-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-12 col-lg-8">
							<div class="swiper testimonial-slider">
								<div class="swiper-wrapper">
									<!-- Slider Item 1 -->
									<div class="swiper-slide">
										<div class="mb-3">
											<i class="bi bi-star-fill text-yellow"></i>
											<i class="bi bi-star-fill text-yellow ps-1"></i>
											<i class="bi bi-star-fill text-yellow ps-1"></i>
											<i class="bi bi-star-fill text-yellow ps-1"></i>
											<i class="bi bi-star-fill text-yellow ps-1"></i>
										</div>
										<p class="font-family-tertiary fs-4 fst-italic text-dark-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud</p>
										<div class="d-flex align-items-center mt-3">
											<img class="img-avatar-70" src="../assets/images/avatar-70.png" alt="">
											<div class="ps-3">
												<h5 class="mb-1">Christina Gray</h5>
												<span>CEO @Company</span>
											</div>
										</div>
									</div>
									<!-- Slider Item 2 -->
									<div class="swiper-slide">
										<div class="mb-3">
											<i class="bi bi-star-fill text-yellow"></i>
											<i class="bi bi-star-fill text-yellow ps-1"></i>
											<i class="bi bi-star-fill text-yellow ps-1"></i>
											<i class="bi bi-star-fill text-yellow ps-1"></i>
											<i class="bi bi-star-fill text-yellow ps-1"></i>
										</div>
										<p class="font-family-tertiary fs-4 fst-italic text-dark-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud</p>
										<div class="d-flex align-items-center mt-3">
											<img class="img-avatar-70" src="../assets/images/avatar-70.png" alt="">
											<div class="ps-3">
												<h5 class="mb-1">Christina Gray</h5>
												<span>CEO @Company</span>
											</div>
										</div>
									</div>
								</div><!-- end swiper-wrapper -->
							</div><!-- end swiper -->
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Testimonial 1 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Testimonial 2</div>
				</div>
			</div>
			<!-- Testimonial 2 -->
			<div class="section-spacing-sm bg-pattern-diagonal">
				<div class="container">
					<div class="row g-4 g-lg-5">
						<div class="col-12 col-lg-4">
							<h2 class="font-family-tertiary">What people say about us?</h2>
							<ul class="list-inline mt-3">
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide testimonial-slider-prev" href="#">
										<i class="bi bi-arrow-left"></i>
										<i class="bi bi-arrow-left"></i>
									</a>
								</li>
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide testimonial-slider-next" href="#">
										<i class="bi bi-arrow-right"></i>
										<i class="bi bi-arrow-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-12 col-lg-8">
							<div class="swiper testimonial-slider">
								<div class="swiper-wrapper">
									<!-- Slider Item 1 -->
									<div class="swiper-slide">
										<div class="d-flex align-items-center mb-3">
											<img class="img-avatar-70" src="../assets/images/avatar-70.png" alt="">
											<div class="ps-3">
												<h5 class="mb-1">Christina Gray</h5>
												<span>CEO @Company</span>
											</div>
										</div>
										<p class="font-family-tertiary fs-4 fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud</p>
									</div>
									<!-- Slider Item 2 -->
									<div class="swiper-slide">
										<div class="d-flex align-items-center mb-3">
											<img class="img-avatar-70" src="../assets/images/avatar-70.png" alt="">
											<div class="ps-3">
												<h5 class="mb-1">Christina Gray</h5>
												<span>CEO @Company</span>
											</div>
										</div>
										<p class="font-family-tertiary fs-4 fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud</p>
									</div>
								</div><!-- end swiper-wrapper -->
							</div><!-- end swiper -->
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Testimonial 2 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Testimonial 3</div>
				</div>
			</div>
			<!-- Testimonial 3 -->
			<div class="section-spacing-sm bg-iceblue">
				<div class="container">
					<div class="row g-4 g-lg-5 align-items-center">
						<div class="col-12 col-lg-5 col-xl-4">
							<h2 class="font-family-tertiary">We have over 4,000 satisfied clients</h2>
							<ul class="list-inline mt-3">
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide testimonial-slider-2-prev" href="#">
										<i class="bi bi-arrow-left"></i>
										<i class="bi bi-arrow-left"></i>
									</a>
								</li>
								<li>
									<a class="button-circle button-circle-dark button-circle-hover-slide testimonial-slider-2-next" href="#">
										<i class="bi bi-arrow-right"></i>
										<i class="bi bi-arrow-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-12 col-lg-7 col-xl-8">
							<div class="swiper testimonial-slider-2">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="testimonial-quote-box">
											<div class="quote">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna</p>
											</div>
											<div class="quote-author">
												<img src="../assets/images/avatar-60.png" alt="">
												<div class="ps-3">
													<h6 class="sm-heading mb-0">Christina Gray</h6>
													<span>CEO @Company</span>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="testimonial-quote-box">
											<div class="quote">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna</p>
											</div>
											<div class="quote-author">
												<img src="../assets/images/avatar-60.png" alt="">
												<div class="ps-3">
													<h6 class="sm-heading mb-0">Christina Gray</h6>
													<span>CEO @Company</span>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="testimonial-quote-box">
											<div class="quote">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna</p>
											</div>
											<div class="quote-author">
												<img src="../assets/images/avatar-60.png" alt="">
												<div class="ps-3">
													<h6 class="sm-heading mb-0">Christina Gray</h6>
													<span>CEO @Company</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Testimonial 3 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Testimonial 4</div>
				</div>
			</div>
			<!-- Testimonial 4 -->
			<div class="section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1">
							<div class="testimonial-single-wrapper">
								<div class="swiper testimonial-slider">
									<div class="swiper-wrapper text-center">
										<div class="swiper-slide">
											<div class="display-3 mb-2">
												<i class="bi bi-quote text-dark-30"></i>
											</div>
											<p class="fs-4 font-family-tertiary text-dark-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua</p>
											<h5 class="mt-4">Alexander Warren</h5>
											<span>COO - Company</span>
										</div>
										<div class="swiper-slide">
											<div class="display-3 mb-2">
												<i class="bi bi-quote text-dark-30"></i>
											</div>
											<p class="fs-4 font-family-tertiary text-dark-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua</p>
											<h5 class="mt-4">Alexander Warren</h5>
											<span>COO - Company</span>
										</div>
									</div>
								</div>
								<!-- Slider Navigation -->
								<div class="testimonial-single-nav">
									<a class="button-circle button-circle-dark button-circle-hover-slide testimonial-slider-prev" href="#">
										<i class="bi bi-arrow-left"></i>
										<i class="bi bi-arrow-left"></i>
									</a>
									<a class="button-circle button-circle-dark button-circle-hover-slide testimonial-slider-next" href="#">
										<i class="bi bi-arrow-right"></i>
										<i class="bi bi-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>
			<!-- end Testimonial 4 -->


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Testimonial 5</div>
				</div>
			</div>
			<!-- Testimonial 5 -->
			<div class="section-spacing bg-gray">
				<div class="swiper sliding-boxes">
					<div class="swiper-wrapper">
						<!-- Testimonial Slider Item 1 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4 p-lg-5">
								<div class="mb-3">
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor</p>
								<h4 class="mt-4 mb-1">Christina Gray 1</h4>
								<span class="sm-heading text-dark-50">COO - Company</span>
							</div>
						</div>
						<!-- Testimonial Slider Item 2 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4 p-lg-5">
								<div class="mb-3">
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore</p>
								<h4 class="mt-4 mb-1">Christina Gray 2</h4>
								<span class="sm-heading text-dark-50">COO - Company</span>
							</div>
						</div>
						<!-- Testimonial Slider Item 3 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4 p-lg-5">
								<div class="mb-3">
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor</p>
								<h4 class="mt-4 mb-1">Christina Gray 3</h4>
								<span class="sm-heading text-dark-50">COO - Company</span>
							</div>
						</div>
						<!-- Testimonial Slider Item 4 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4 p-lg-5">
								<div class="mb-3">
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore</p>
								<h4 class="mt-4 mb-1">Christina Gray 4</h4>
								<span class="sm-heading text-dark-50">COO - Company</span>
							</div>
						</div>
						<!-- Testimonial Slider Item 5 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4 p-lg-5">
								<div class="mb-3">
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor</p>
								<h4 class="mt-4 mb-1">Christina Gray 5</h4>
								<span class="sm-heading text-dark-50">COO - Company</span>
							</div>
						</div>
						<!-- Testimonial Slider Item 6 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4 p-lg-5">
								<div class="mb-3">
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore</p>
								<h4 class="mt-4 mb-1">Christina Gray 6</h4>
								<span class="sm-heading text-dark-50">COO - Company</span>
							</div>
						</div>
						<!-- end Item 6 -->
					</div><!-- end swiper-wrapper -->
				</div><!-- end swiper -->
			</div>
			<!-- end Testimonial 5 -->

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>