<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Accordion</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Accordion - Style 1</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
							<ul class="accordion">
								<li class="active">
									<div class="accordion-title">
										<h5 class="text-dark">First Question</h5>
										<div class="accordion-toggle">
											<span></span>
										</div>
									</div>
									<div class="accordion-content">
										<p class="text-dark-70">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.</p>
									</div>
								</li>
								<li>
									<div class="accordion-title">
										<h5 class="text-dark">Second Question</h5>
										<div class="accordion-toggle">
											<span></span>
										</div>
									</div>
									<div class="accordion-content">
										<p class="text-dark-70">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.</p>
									</div>
								</li>
								<li>
									<div class="accordion-title">
										<h5 class="text-dark">Third Question</h5>
										<div class="accordion-toggle">
											<span></span>
										</div>
									</div>
									<div class="accordion-content">
										<p class="text-dark-70">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.</p>
									</div>
								</li>
							</ul>
						</div>
					</div><!-- end row -->
					<a class="button button-md button-radius button-fullwidth mt-5" data-bs-toggle="collapse" href="#accordion1" role="button" aria-expanded="false" aria-controls="accordion1">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="accordion1">
<pre class="language-html m-0">
<code>
&lt;ul class="accordion"&gt;
	&lt;li class="active"&gt;
		&lt;div class="accordion-title"&gt;
			&lt;h5 class="text-dark"&gt;First Question&lt;/h5&gt;
			&lt;div class="accordion-toggle"&gt;
				&lt;span&gt;&lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="accordion-content"&gt;
			&lt;p class="text-dark-70"&gt;Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;div class="accordion-title"&gt;
			&lt;h5 class="text-dark"&gt;Second Question&lt;/h5&gt;
			&lt;div class="accordion-toggle"&gt;
				&lt;span&gt;&lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="accordion-content"&gt;
			&lt;p class="text-dark-70"&gt;Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;div class="accordion-title"&gt;
			&lt;h5 class="text-dark"&gt;Third Question&lt;/h5&gt;
			&lt;div class="accordion-toggle"&gt;
				&lt;span&gt;&lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="accordion-content"&gt;
			&lt;p class="text-dark-70"&gt;Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Accordion - Style 2</div>
				</div>
			</div>
			<div class="section-spacing bg-dark">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
							<ul class="accordion style-2">
								<li class="active">
									<div class="accordion-title">
										<h5 class="text-dark">First Question</h5>
										<div class="accordion-toggle">
											<span></span>
										</div>
									</div>
									<div class="accordion-content">
										<p class="text-dark-70">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.</p>
									</div>
								</li>
								<li>
									<div class="accordion-title">
										<h5 class="text-dark">Second Question</h5>
										<div class="accordion-toggle">
											<span></span>
										</div>
									</div>
									<div class="accordion-content">
										<p class="text-dark-70">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.</p>
									</div>
								</li>
								<li>
									<div class="accordion-title">
										<h5 class="text-dark">Third Question</h5>
										<div class="accordion-toggle">
											<span></span>
										</div>
									</div>
									<div class="accordion-content">
										<p class="text-dark-70">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.</p>
									</div>
								</li>
							</ul>
						</div>
					</div><!-- end row -->
					<a class="button button-md button-radius button-fullwidth mt-5" data-bs-toggle="collapse" href="#accordion2" role="button" aria-expanded="false" aria-controls="accordion2">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="accordion2">
<pre class="language-html m-0">
<code>
&lt;ul class="accordion style-2"&gt;
	&lt;li class="active"&gt;
		&lt;div class="accordion-title"&gt;
			&lt;h5 class="text-dark"&gt;First Question&lt;/h5&gt;
			&lt;div class="accordion-toggle"&gt;
				&lt;span&gt;&lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="accordion-content"&gt;
			&lt;p class="text-dark-70"&gt;Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;div class="accordion-title"&gt;
			&lt;h5 class="text-dark"&gt;Second Question&lt;/h5&gt;
			&lt;div class="accordion-toggle"&gt;
				&lt;span&gt;&lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="accordion-content"&gt;
			&lt;p class="text-dark-70"&gt;Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;div class="accordion-title"&gt;
			&lt;h5 class="text-dark"&gt;Third Question&lt;/h5&gt;
			&lt;div class="accordion-toggle"&gt;
				&lt;span&gt;&lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="accordion-content"&gt;
			&lt;p class="text-dark-70"&gt;Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem officiis corrupti earum dolorem, eveniet obcaecati doloribus, dolores voluptate eum culpa vel? Deserunt nam quod fugit. Ut perspiciatis sequi natus officia.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>