<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Background Media</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Background Image</div>
				</div>
			</div>
			<div class="bg-image" data-bg-src="../assets/images/bg.png">
				<div class="section-spacing-lg">
					
				</div>
			</div>
			<div class="section-spacing pt-0">
				<div class="container">
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#bgimage" role="button" aria-expanded="false" aria-controls="bgimage">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="bgimage">
<pre class="language-html m-0">
<code>
&lt;div class="bg-image" data-bg-src="../assets/images/img-src.jpg"&gt;
	&lt;div class="section-spacing-lg"&gt;
		
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Background Image - Parallax</div>
				</div>
			</div>
			<div class="bg-image parallax" data-bg-src="../assets/images/bg.png">
				<div class="section-spacing-lg">
					
				</div>
			</div>
			<div class="section-spacing pt-0">
				<div class="container">
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#bg-imageparallax" role="button" aria-expanded="false" aria-controls="bg-imageparallax">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="bg-imageparallax">
<pre class="language-html m-0">
<code>
&lt;div class="bg-image parallax" data-bg-src="../assets/images/img-src.jpg"&gt;
	&lt;div class="section-spacing-lg"&gt;
		
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Background Image - Parallax, Dark Overlay</div>
				</div>
			</div>
			<div class="bg-image parallax" data-bg-src="../assets/images/bg.png">
				<div class="section-spacing-lg bg-black-50">
					
				</div>
			</div>
			<div class="section-spacing pt-0">
				<div class="container">
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#bgimageoverlay" role="button" aria-expanded="false" aria-controls="bgimageoverlay">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="bgimageoverlay">
<pre class="language-html m-0">
<code>
&lt;div class="bg-image parallax" data-bg-src="../assets/images/img-src.jpg"&gt;
	&lt;div class="section-spacing-lg bg-black-50"&gt;
		
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Background Image - Parallax, Gradient Overlay</div>
				</div>
			</div>
			<div class="bg-image parallax" data-bg-src="../assets/images/bg.png">
				<div class="section-spacing-lg bg-gradient-1 bg-opacity-50">
					
				</div>
			</div>
			<div class="section-spacing pt-0">
				<div class="container">
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#bgimagegradient" role="button" aria-expanded="false" aria-controls="bgimagegradient">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="bgimagegradient">
<pre class="language-html m-0">
<code>
&lt;div class="bg-image parallax" data-bg-src="../assets/images/img-src.jpg"&gt;
	&lt;div class="section-spacing-lg bg-gradient-1 bg-opacity-50"&gt;
		
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Background Video</div>
				</div>
			</div>
			<div class="position-relative">
				<!-- BG Video -->
				<div class="bg-video">
					<video playsinline autoplay muted loop>
						<source src="../assets/images/bg-video.mp4" type="video/mp4">
					</video>
				</div>
				<!-- end BG Video -->
				<div class="section-spacing-xl bg-gradient-5 bg-opacity-60">
					<div class="container">
						
					</div>
				</div>
			</div>
			<div class="section-spacing pt-0">
				<div class="container">
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#bgvideo" role="button" aria-expanded="false" aria-controls="bgvideo">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="bgvideo">
<pre class="language-html m-0">
<code>
&lt;div class="position-relative"&gt;
	&lt;!-- BG Video --&gt;
	&lt;div class="bg-video"&gt;
		&lt;video playsinline autoplay muted loop&gt;
			&lt;source src="../assets/images/startup-bg-video.mp4" type="video/mp4"&gt;
		&lt;/video&gt;
	&lt;/div&gt;
	&lt;!-- end BG Video --&gt;
	&lt;div class="section-spacing-xl bg-gradient-5 bg-opacity-60"&gt;
		&lt;div class="container"&gt;
			
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>
			

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>