<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Background Colors</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Background Solid Colors</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="section-spacing-sm pt-0">
						<div class="bg-gray p-4">
							<h4>.bg-gray</h4>
						</div>
						<div class="bg-iceblue p-4 mt-2">
							<h4>.bg-iceblue</h4>
						</div>
						<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#bglightcolors" role="button" aria-expanded="false" aria-controls="bglightcolors">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
						<div class="collapse" id="bglightcolors">
<pre class="language-html m-0">
<code>
&lt;div class="bg-gray p-4"&gt;
	&lt;h4&gt;.bg-gray&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-iceblue p-4"&gt;
	&lt;h4&gt;.bg-iceblue&lt;/h4&gt;
&lt;/div&gt;
</code>
</pre>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-xl-6">
							<div class="bg-dark p-4">
								<h4>.bg-dark</h4>
							</div>
							<div class="bg-dark-90 p-4">
								<h4>.bg-dark-90</h4>
							</div>
							<div class="bg-dark-80 p-4">
								<h4>.bg-dark-80</h4>
							</div>
							<div class="bg-dark-70 p-4">
								<h4>.bg-dark-70</h4>
							</div>
							<div class="bg-dark-60 p-4">
								<h4>.bg-dark-60</h4>
							</div>
							<div class="bg-dark-50 p-4">
								<h4>.bg-dark-50</h4>
							</div>
							<div class="bg-dark-40 p-4">
								<h4>.bg-dark-40</h4>
							</div>
							<div class="bg-dark-30 p-4">
								<h4>.bg-dark-30</h4>
							</div>
							<div class="bg-dark-20 p-4">
								<h4>.bg-dark-20</h4>
							</div>
							<div class="bg-dark-10 p-4">
								<h4>.bg-dark-10</h4>
							</div>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#bgdarkcolors" role="button" aria-expanded="false" aria-controls="bgdarkcolors">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="bgdarkcolors">
<pre class="language-html m-0">
<code>
&lt;div class="bg-dark p-4"&gt;
	&lt;h4&gt;.bg-dark&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-dark-90 p-4"&gt;
	&lt;h4&gt;.bg-dark-90&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-dark-80 p-4"&gt;
	&lt;h4&gt;.bg-dark-80&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-dark-70 p-4"&gt;
	&lt;h4&gt;.bg-dark-70&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-dark-60 p-4"&gt;
	&lt;h4&gt;.bg-dark-60&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-dark-50 p-4"&gt;
	&lt;h4&gt;.bg-dark-50&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-dark-40 p-4"&gt;
	&lt;h4&gt;.bg-dark-40&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-dark-30 p-4"&gt;
	&lt;h4&gt;.bg-dark-30&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-dark-20 p-4"&gt;
	&lt;h4&gt;.bg-dark-20&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-dark-10 p-4"&gt;
	&lt;h4&gt;.bg-dark-10&lt;/h4&gt;
&lt;/div&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-xl-6">
							<div class="bg-black p-4">
								<h4>.bg-black</h4>
							</div>
							<div class="bg-black-90 p-4">
								<h4>.bg-black-90</h4>
							</div>
							<div class="bg-black-80 p-4">
								<h4>.bg-black-80</h4>
							</div>
							<div class="bg-black-70 p-4">
								<h4>.bg-black-70</h4>
							</div>
							<div class="bg-black-60 p-4">
								<h4>.bg-black-60</h4>
							</div>
							<div class="bg-black-50 p-4">
								<h4>.bg-black-50</h4>
							</div>
							<div class="bg-black-40 p-4">
								<h4>.bg-black-40</h4>
							</div>
							<div class="bg-black-30 p-4">
								<h4>.bg-black-30</h4>
							</div>
							<div class="bg-black-20 p-4">
								<h4>.bg-black-20</h4>
							</div>
							<div class="bg-black-10 p-4">
								<h4>.bg-black-10</h4>
							</div>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#bgdarkcolors" role="button" aria-expanded="false" aria-controls="bgdarkcolors">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="bgdarkcolors">
<pre class="language-html m-0">
<code>
&lt;div class="bg-black p-4"&gt;
	&lt;h4&gt;.bg-black&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-black-90 p-4"&gt;
	&lt;h4&gt;.bg-black-90&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-black-80 p-4"&gt;
	&lt;h4&gt;.bg-black-80&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-black-70 p-4"&gt;
	&lt;h4&gt;.bg-black-70&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-black-60 p-4"&gt;
	&lt;h4&gt;.bg-black-60&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-black-50 p-4"&gt;
	&lt;h4&gt;.bg-black-50&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-black-40 p-4"&gt;
	&lt;h4&gt;.bg-black-40&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-black-30 p-4"&gt;
	&lt;h4&gt;.bg-black-30&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-black-20 p-4"&gt;
	&lt;h4&gt;.bg-black-20&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-black-10 p-4"&gt;
	&lt;h4&gt;.bg-black-10&lt;/h4&gt;
&lt;/div&gt;
</code>
</pre>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>

			<div class="section-spacing bg-dark">
				<div class="container">
					<div class="bg-white p-4">
						<h4>.bg-white</h4>
					</div>
					<div class="bg-white-90 p-4">
						<h4>.bg-white-90</h4>
					</div>
					<div class="bg-white-80 p-4">
						<h4>.bg-white-80</h4>
					</div>
					<div class="bg-white-70 p-4">
						<h4>.bg-white-70</h4>
					</div>
					<div class="bg-white-60 p-4">
						<h4>.bg-white-60</h4>
					</div>
					<div class="bg-white-50 p-4">
						<h4>.bg-white-50</h4>
					</div>
					<div class="bg-white-40 p-4">
						<h4>.bg-white-40</h4>
					</div>
					<div class="bg-white-30 p-4">
						<h4>.bg-white-30</h4>
					</div>
					<div class="bg-white-20 p-4">
						<h4>.bg-white-20</h4>
					</div>
					<div class="bg-white-10 p-4">
						<h4>.bg-white-10</h4>
					</div>

					<a class="button button-md button-radius button-white-2 button-fullwidth mt-4" data-bs-toggle="collapse" href="#bgwhitecolors" role="button" aria-expanded="false" aria-controls="bgwhitecolors">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="bgwhitecolors">
<pre class="language-html m-0">
<code>
&lt;div class="bg-white p-4"&gt;
	&lt;h4&gt;.bg-white&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-white-90 p-4"&gt;
	&lt;h4&gt;.bg-white-90&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-white-80 p-4"&gt;
	&lt;h4&gt;.bg-white-80&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-white-70 p-4"&gt;
	&lt;h4&gt;.bg-white-70&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-white-60 p-4"&gt;
	&lt;h4&gt;.bg-white-60&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-white-50 p-4"&gt;
	&lt;h4&gt;.bg-white-50&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-white-40 p-4"&gt;
	&lt;h4&gt;.bg-white-40&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-white-30 p-4"&gt;
	&lt;h4&gt;.bg-white-30&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-white-20 p-4"&gt;
	&lt;h4&gt;.bg-white-20&lt;/h4&gt;
&lt;/div&gt;
&lt;div class="bg-white-10 p-4"&gt;
	&lt;h4&gt;.bg-white-10&lt;/h4&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-black">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Background Gradient Colors</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="bg-gradient-1 p-4">
						<h4>.bg-gradient-1</h4>
					</div>
					<div class="bg-gradient-2 p-4 mt-2">
						<h4>.bg-gradient-2</h4>
					</div>
					<div class="bg-gradient-3 p-4 mt-2">
						<h4>.bg-gradient-3</h4>
					</div>
					<div class="bg-gradient-4 p-4 mt-2">
						<h4>.bg-gradient-4</h4>
					</div>
					<div class="bg-gradient-5 p-4 mt-2">
						<h4>.bg-gradient-5</h4>
					</div>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#BASE1" role="button" aria-expanded="false" aria-controls="BASE1">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="BASE1">
<pre class="language-html m-0">
<code>

</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>
			

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>