<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Blockquote</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Blockquote - Style 1</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
							<figure class="bg-pattern-diagonal p-4 p-lg-5">
								<blockquote class="blockquote font-family-tertiary fst-italic fs-4">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation</p>
								</blockquote>
								<figcaption class="blockquote-footer sm-heading mt-0 mb-0 text-dark-40">
									Alexander Warren
								</figcaption>
							</figure>
						</div>
					</div><!-- end row -->
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#blockquote1" role="button" aria-expanded="false" aria-controls="blockquote1">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="blockquote1">
<pre class="language-html m-0">
<code>
&lt;figure class="bg-pattern-diagonal p-4 p-lg-5"&gt;
	&lt;blockquote class="blockquote font-family-tertiary fst-italic fs-4"&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation&lt;/p&gt;
	&lt;/blockquote&gt;
	&lt;figcaption class="blockquote-footer sm-heading mt-0 mb-0 text-dark-40"&gt;
		Alexander Warren
	&lt;/figcaption&gt;
&lt;/figure&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Blockquote - Style 2</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
							<figure class="bg-gray p-4 p-lg-5 border-radius-1">
								<blockquote class="blockquote font-family-tertiary fst-italic fs-4 text-dark-50">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation</p>
								</blockquote>
								<figcaption class="blockquote-footer sm-heading mt-0 mb-0 text-dark">
									Alexander Warren
								</figcaption>
							</figure>
						</div>
					</div><!-- end row -->
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#blockquote2" role="button" aria-expanded="false" aria-controls="blockquote2">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="blockquote2">
<pre class="language-html m-0">
<code>
&lt;figure class="bg-gray p-4 p-lg-5 border-radius-1"&gt;
	&lt;blockquote class="blockquote font-family-tertiary fst-italic fs-4 text-dark-50"&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation&lt;/p&gt;
	&lt;/blockquote&gt;
	&lt;figcaption class="blockquote-footer sm-heading mt-0 mb-0 text-dark"&gt;
		Alexander Warren
	&lt;/figcaption&gt;
&lt;/figure&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

			

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>