<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Box</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Box</div>
				</div>
			</div>
			<div class="section-spacing bg-gray">
				<div class="container">
					<div class="row g-5">
						<div class="col-12 col-lg-6">
							<div class="bg-white p-5 border-radius">
								<p>Border-radius 0.5em</p>
							</div>
							<div class="bg-white p-5 border-radius-1 mt-2">
								<p>Border-radius 0.5em</p>
							</div>
							<div class="bg-white p-5 border-radius-2 mt-2">
								<p>Border-radius 0.5em</p>
							</div>
							<a class="button button-md button-radius button-dark button-fullwidth mt-4" data-bs-toggle="collapse" href="#boxbasics" role="button" aria-expanded="false" aria-controls="boxbasics">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="boxbasics">
<pre class="language-html m-0">
<code>
&lt;div class="bg-white p-5 border-radius"&gt;
	&lt;p&gt;Border-radius 0.5em&lt;/p&gt;
&lt;/div&gt;
&lt;div class="bg-white p-5 border-radius-1"&gt;
	&lt;p&gt;Border-radius 0.5em&lt;/p&gt;
&lt;/div&gt;
&lt;div class="bg-white p-5 border-radius-2"&gt;
	&lt;p&gt;Border-radius 0.5em&lt;/p&gt;
&lt;/div&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="bg-white p-5 box-shadow">
								<p>Box shadow</p>
							</div>
							<div class="bg-white p-5 hover-float mt-4">
								<p>Hover Float</p>
							</div>
							<a class="button button-md button-radius button-dark button-fullwidth mt-4" data-bs-toggle="collapse" href="#shadowfloat" role="button" aria-expanded="false" aria-controls="shadowfloat">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="shadowfloat">
<pre class="language-html m-0">
<code>
&lt;div class="bg-white p-5 box-shadow"&gt;
	&lt;p&gt;Box shadow&lt;/p&gt;
&lt;/div&gt;
&lt;div class="bg-white p-5 hover-float"&gt;
	&lt;p&gt;Hover Float&lt;/p&gt;
&lt;/div&gt;
</code>
</pre>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>

			
			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Interactive box</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 col-xxl-4 offset-xxl-4">
							<div class="interactive-box border-radius-1">
								<img src="../assets/images/500.png" alt="">
								<div class="interactive-overlay">
									<div class="interactive-inner p-4 p-lg-5">
										<h6 class="uppercase mb-0">Interactive box title</h6>
									</div>
									<div class="interactive-hover p-4 p-lg-5">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
									</div>
								</div>
							</div>
						</div>
					</div><!-- end row -->
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#interactivebox" role="button" aria-expanded="false" aria-controls="interactivebox">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="interactivebox">
<pre class="language-html m-0">
<code>
&lt;div class="interactive-box border-radius-1"&gt;
	&lt;img src="../assets/images/img-src.jpg" alt=""&gt;
	&lt;div class="interactive-overlay"&gt;
		&lt;div class="interactive-inner p-4 p-lg-5"&gt;
			&lt;h6 class="uppercase mb-0"&gt;Interactive box title&lt;/h6&gt;
		&lt;/div&gt;
		&lt;div class="interactive-hover p-4 p-lg-5"&gt;
			&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Icon box</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row g-5">
						<div class="col-12 col-lg-6">
							<div class="icon-box-square icon-box-square-lg bg-dark">
								<i class="bi bi-star"></i>
							</div>
							<div class="icon-box-square bg-dark">
								<i class="bi bi-star"></i>
							</div>
							<div class="icon-box-square icon-box-square-sm bg-dark">
								<i class="bi bi-star"></i>
							</div>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#iconboxsquare" role="button" aria-expanded="false" aria-controls="iconboxsquare">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="iconboxsquare">
<pre class="language-html m-0">
<code>
&lt;div class="icon-box-square icon-box-square-lg bg-dark"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="icon-box-square bg-dark"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="icon-box-square icon-box-square-sm bg-dark"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="icon-box-circle icon-box-circle-lg bg-dark">
								<i class="bi bi-star"></i>
							</div>
							<div class="icon-box-circle bg-dark">
								<i class="bi bi-star"></i>
							</div>
							<div class="icon-box-circle icon-box-circle-sm bg-dark">
								<i class="bi bi-star"></i>
							</div>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#iconboxcircle" role="button" aria-expanded="false" aria-controls="iconboxcircle">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="iconboxcircle">
<pre class="language-html m-0">
<code>
&lt;div class="icon-box-circle icon-box-circle-lg bg-dark"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="icon-box-circle bg-dark"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="icon-box-circle icon-box-circle-sm bg-dark"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
</code>
</pre>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>