<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Buttons</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Buttons - Sizes</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container text-center">
					<ul class="list-inline">
						<li>
							<a class="button button-dark button-lg" href="#">Button</a>
						</li>
						<li>
							<a class="button button-dark" href="#">Button</a>
						</li>
						<li>
							<a class="button button-dark button-sm" href="#">Button</a>
						</li>
						<li>
							<a class="button button-dark button-xs" href="#">Button</a>
						</li>
					</ul>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#btn-sizes" role="button" aria-expanded="false" aria-controls="btn-sizes">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="btn-sizes">
<pre class="language-html m-0">
<code>
&lt;a class="button button-dark button-lg" href="#"&gt;Button&lt;/a&gt;
&lt;a class="button button-dark" href="#"&gt;Button&lt;/a&gt;
&lt;a class="button button-dark button-sm" href="#"&gt;Button&lt;/a&gt;
&lt;a class="button button-dark button-xs" href="#"&gt;Button&lt;/a&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Buttons - Shapes</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container text-center">
					<ul class="list-inline">
						<li>
							<a class="button button-dark" href="#">Button</a>
						</li>
						<li>
							<a class="button button-dark button-radius" href="#">Button</a>
						</li>
						<li>
							<a class="button button-dark button-rounded" href="#">Button</a>
						</li>
					</ul>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#btn-shapes" role="button" aria-expanded="false" aria-controls="btn-shapes">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="btn-shapes">
<pre class="language-html m-0">
<code>
&lt;a class="button button-dark" href="#"&gt;Button&lt;/a&gt;
&lt;a class="button button-dark button-radius" href="#"&gt;Button&lt;/a&gt;
&lt;a class="button button-dark button-rounded" href="#"&gt;Button&lt;/a&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Basic Styles</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container text-center">
					<ul class="list-inline">
						<li>
							<a class="button button-rounded" href="#">Default</a>
						</li>
						<li>
							<a class="button button-rounded button-dark" href="#">Dark</a>
						</li>
						<li>
							<a class="button button-rounded button-outline" href="#">Outline</a>
						</li>
						<li>
							<a class="button button-rounded button-outline-dashed" href="#">Dashed</a>
						</li>
					</ul>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#btn-basic" role="button" aria-expanded="false" aria-controls="btn-basic">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="btn-basic">
<pre class="language-html m-0">
<code>
&lt;a class="button button-rounded" href="#"&gt;Default&lt;/a&gt;
&lt;a class="button button-rounded button-dark" href="#"&gt;Dark&lt;/a&gt;
&lt;a class="button button-rounded button-outline" href="#"&gt;Outline&lt;/a&gt;
&lt;a class="button button-rounded button-outline-dashed" href="#"&gt;Dashed&lt;/a&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Gradient Styles</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container text-center">
					<ul class="list-inline">
						<li>
							<a class="button button-rounded button-gradient-1" href="#">Gradient 1</a>
						</li>
						<li>
							<a class="button button-rounded button-gradient-2" href="#">Gradient 2</a>
						</li>
						<li>
							<a class="button button-rounded button-gradient-3" href="#">Gradient 3</a>
						</li>
						<li>
							<a class="button button-rounded button-gradient-4" href="#">Gradient 4</a>
						</li>
						<li>
							<a class="button button-rounded button-gradient-5" href="#">Gradient 5</a>
						</li>
					</ul>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#btn-gradient" role="button" aria-expanded="false" aria-controls="btn-gradient">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="btn-gradient">
<pre class="language-html m-0">
<code>
&lt;a class="button button-rounded button-gradient-1" href="#"&gt;Gradient 1&lt;/a&gt;
&lt;a class="button button-rounded button-gradient-2" href="#"&gt;Gradient 2&lt;/a&gt;
&lt;a class="button button-rounded button-gradient-3" href="#"&gt;Gradient 3&lt;/a&gt;
&lt;a class="button button-rounded button-gradient-4" href="#"&gt;Gradient 4&lt;/a&gt;
&lt;a class="button button-rounded button-gradient-5" href="#"&gt;Gradient 5&lt;/a&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Hovers</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container text-center">
					<ul class="list-inline-lg">
						<li>
							<a class="button button-rounded button-gradient-1 button-hover-slide" href="#">
								<span data-text="Hover Slide">Hover Slide</span>
							</a>
						</li>
						<li>
							<a class="button button-rounded button-gradient-2 button-hover-float" href="#">
								Hover Float
							</a>
						</li>
					</ul>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#btn-hover" role="button" aria-expanded="false" aria-controls="btn-hover">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="btn-hover">
<pre class="language-html m-0">
<code>
&lt;a class="button button-rounded button-gradient-1 button-hover-slide" href="#"&gt;
	&lt;span data-text="Hover Slide"&gt;Hover Slide&lt;/span&gt;
&lt;/a&gt;
&lt;a class="button button-rounded button-gradient-1 button-hover-float" href="#"&gt;
	Hover Float
&lt;/a&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Fancy Styles</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container text-center">

					<ul class="list-inline-xl">
						<li>
							<a class="button-fancy" href="#">Fancy Default</a>
						</li>
						<li>
							<a class="button-fancy-gradient-1" href="#">Fancy Gradient 1</a>
						</li>
						<li>
							<a class="button-fancy-gradient-2" href="#">Fancy Gradient 2</a>
						</li>
						<li>
							<a class="button-fancy-gradient-3" href="#">Fancy Gradient 3</a>
						</li>
						<li>
							<a class="button-fancy-gradient-4" href="#">Fancy Gradient 4</a>
						</li>
						<li>
							<a class="button-fancy-gradient-5" href="#">Fancy Gradient 5</a>
						</li>
						<li>
							<a class="button-fancy button-fancy-right" href="#">Fancy Right</a>
						</li>
					</ul>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#btn-fancy" role="button" aria-expanded="false" aria-controls="btn-fancy">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="btn-fancy">
<pre class="language-html m-0">
<code>
&lt;a class="button-fancy" href="#"&gt;Fancy Default&lt;/a&gt;
&lt;a class="button-fancy-gradient-1" href="#"&gt;Fancy Gradient 1&lt;/a&gt;
&lt;a class="button-fancy-gradient-2" href="#"&gt;Fancy Gradient 2&lt;/a&gt;
&lt;a class="button-fancy-gradient-3" href="#"&gt;Fancy Gradient 3&lt;/a&gt;
&lt;a class="button-fancy-gradient-4" href="#"&gt;Fancy Gradient 4&lt;/a&gt;
&lt;a class="button-fancy-gradient-5" href="#"&gt;Fancy Gradient 5&lt;/a&gt;
&lt;a class="button-fancy button-fancy-right" href="#"&gt;Fancy Right&lt;/a&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Circle Buttons - Sizes</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container text-center">
					<ul class="list-inline">
						<li>
							<a class="button-circle button-circle-dark button-circle-lg" href="#">
								<i class="bi bi-star"></i>
							</a>
						</li>
						<li>
							<a class="button-circle button-circle-dark" href="#">
								<i class="bi bi-star"></i>
							</a>
						</li>
						<li>
							<a class="button-circle button-circle-dark button-circle-sm" href="#">
								<i class="bi bi-star"></i>
							</a>
						</li>
					</ul>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#btn-circle-sizes" role="button" aria-expanded="false" aria-controls="btn-circle-sizes">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="btn-circle-sizes">
<pre class="language-html m-0">
<code>
&lt;a class="button-circle button-circle-dark button-circle-lg" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class="button-circle button-circle-dark" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class="button-circle button-circle-dark button-circle-sm" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/a&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Circle Buttons - Basic Styles</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container text-center">
					<ul class="list-inline">
						<li>
							<a class="button-circle" href="#">
								<i class="bi bi-star"></i>
							</a>
						</li>
						<li>
							<a class="button-circle button-circle-dark" href="#">
								<i class="bi bi-star"></i>
							</a>
						</li>
						<li>
							<a class="button-circle button-circle-outline" href="#">
								<i class="bi bi-star"></i>
							</a>
						</li>
						<li>
							<a class="button-circle button-circle-outline-dashed" href="#">
								<i class="bi bi-star"></i>
							</a>
						</li>
					</ul>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#btn-circle-basic" role="button" aria-expanded="false" aria-controls="btn-circle-basic">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="btn-circle-basic">
<pre class="language-html m-0">
<code>
&lt;a class="button-circle" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class="button-circle button-circle-dark" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class="button-circle button-circle-outline" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class="button-circle button-circle-outline-dashed" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/a&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Circle Buttons - Gradient Styles</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container text-center">
					<ul class="list-inline">
						<li>
							<a class="button-circle button-gradient-1" href="#">
								<i class="bi bi-star"></i>
							</a>
						</li>
						<li>
							<a class="button-circle button-gradient-2" href="#">
								<i class="bi bi-star"></i>
							</a>
						</li>
						<li>
							<a class="button-circle button-gradient-3" href="#">
								<i class="bi bi-star"></i>
							</a>
						</li>
						<li>
							<a class="button-circle button-gradient-4" href="#">
								<i class="bi bi-star"></i>
							</a>
						</li>
						<li>
							<a class="button-circle button-gradient-5" href="#">
								<i class="bi bi-star"></i>
							</a>
						</li>
					</ul>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#btn-circle-gradient" role="button" aria-expanded="false" aria-controls="btn-circle-gradient">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="btn-circle-gradient">
<pre class="language-html m-0">
<code>
&lt;a class="button-circle button-gradient-1" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class="button-circle button-gradient-2" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class="button-circle button-gradient-3" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class="button-circle button-gradient-4" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class="button-circle button-gradient-5" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/a&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Circle Buttons - Hover</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container text-center">
					<ul class="list-inline">
						<li>
							<a class="button-circle button-gradient-1 button-circle-hover-slide" href="#">
								<i class="bi bi-star"></i>
								<i class="bi bi-star-fill"></i>
							</a>
						</li>
						<li>
							<a class="button-circle button-gradient-2 button-circle-hover-slide" href="#">
								<i class="bi bi-star"></i>
								<i class="bi bi-star-fill"></i>
							</a>
						</li>
					</ul>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#btn-circle-hover" role="button" aria-expanded="false" aria-controls="btn-circle-hover">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="btn-circle-hover">
<pre class="language-html m-0">
<code>
&lt;a class="button-circle button-gradient-1 button-circle-hover-slide" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
	&lt;i class="bi bi-star-fill"&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class="button-circle button-gradient-2 button-circle-hover-slide" href="#"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
	&lt;i class="bi bi-star-fill"&gt;&lt;/i&gt;
&lt;/a&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>