<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Images</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Image Masks</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row g-5">
						<div class="col-12 col-lg-6 text-center">
							<img class="img-mask-1" src="../assets/images/500.png" alt="">
							<div class="mt-4">
<pre class="language-html m-0">
<code>
&lt;img class="img-mask-1" src="../assets/images/img-src.jpg" alt=""&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6 text-center">
							<img class="img-mask-2" src="../assets/images/500.png" alt="">
							<div class="mt-4">
<pre class="language-html m-0">
<code>
&lt;img class="img-mask-2" src="../assets/images/img-src.jpg" alt=""&gt;
</code>
</pre>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Avatars</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row g-5">
						<div class="col-12 text-center">
							<h4>Large Avatars</h4>
							<img class="img-avatar-200" src="../assets/images/avatar-200.png" alt="">
							<img class="img-avatar-180" src="../assets/images/avatar-180.png" alt="">
							<img class="img-avatar-160" src="../assets/images/avatar-160.png" alt="">
							<div class="mt-4">
<pre class="language-html m-0">
<code>
&lt;img class="img-avatar-200" src="../assets/images/img-src.jpg" alt=""&gt;
&lt;img class="img-avatar-180" src="../assets/images/img-src.jpg" alt=""&gt;
&lt;img class="img-avatar-160" src="../assets/images/img-src.jpg" alt=""&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6 text-center">
							<h4>Small Avatars</h4>
							<img class="img-avatar-80" src="../assets/images/avatar-80.png" alt="">
							<img class="img-avatar-70" src="../assets/images/avatar-70.png" alt="">
							<img class="img-avatar-60" src="../assets/images/avatar-60.png" alt="">
							<div class="mt-4">
<pre class="language-html m-0">
<code>
&lt;img class="img-avatar-80" src="../assets/images/img-src.jpg" alt=""&gt;
&lt;img class="img-avatar-70" src="../assets/images/img-src.jpg" alt=""&gt;
&lt;img class="img-avatar-60" src="../assets/images/img-src.jpg" alt=""&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6 text-center">
							<h4>Avatar Group</h4>
							<ul class="avatar-group">
								<li>
									<img src="../assets/images/avatar-60.png" alt="">
								</li>
								<li>
									<img src="../assets/images/avatar-60.png" alt="">
								</li>
								<li>
									<img src="../assets/images/avatar-60.png" alt="">
								</li>
							</ul>
							<div class="mt-4">
<pre class="language-html m-0">
<code>
&lt;ul class="avatar-group"&gt;
	&lt;li&gt;
		&lt;img src="../assets/images/img-src.jpg" alt="" data-rjs="2"&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;img src="../assets/images/img-src.jpg" alt="" data-rjs="2"&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;img src="../assets/images/img-src.jpg" alt="" data-rjs="2"&gt;
	&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Image Overlap</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container text-center">
					<div class="row">
						<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
							<div class="img-overlap">
								<div class="img-1">
									<img src="../assets/images/500.png" alt="">
								</div>
								<div class="img-2">
									<img src="../assets/images/500.png" alt="">
								</div>
							</div>
						</div>
					</div><!-- end row -->
					<div class="mt-5">
<pre class="language-html m-0">
<code>
&lt;div class="row"&gt;
	&lt;div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3"&gt;
		&lt;div class="img-overlap"&gt;
			&lt;div class="img-1"&gt;
				&lt;img src="../assets/images/img-src.jpg" alt=""&gt;
			&lt;/div&gt;
			&lt;div class="img-2"&gt;
				&lt;img src="../assets/images/img-src.jpg" alt=""&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;&lt;!-- end row --&gt;
</code>
</pre>
							</div>
				</div><!-- end container -->
			</div>

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>