<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Lightbox</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Lightbox - Image</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
							<div class="img-link-box">
								<a class="glightbox" href="../assets/images/618x386.png">
									<img src="../assets/images/618x386.png" alt="">
								</a>
							</div>
						</div>
					</div><!-- end row -->
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#lightboximage" role="button" aria-expanded="false" aria-controls="lightboximage">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="lightboximage">
<pre class="language-html m-0">
<code>
&lt;div class="img-link-box"&gt;
	&lt;a class="glightbox" href="../assets/images/img-src.jpg"&gt;
		&lt;img src="../assets/images/img-src.jpg" alt=""&gt;
	&lt;/a&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Lightbox - Video</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
							<div class="lightbox-video">
								<img src="../assets/images/618x386.png" alt="">
								<a class="glightbox lightbox-play-btn" href="https://www.youtube.com/watch?v=V8yu12uRpBA">
									<i class="bi bi-play"></i>
								</a>
							</div>
						</div>
					</div><!-- end row -->
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#lightboxvideo" role="button" aria-expanded="false" aria-controls="lightboxvideo">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="lightboxvideo">
<pre class="language-html m-0">
<code>
&lt;div class="lightbox-video"&gt;
	&lt;img src="../assets/images/img-src.jpg" alt=""&gt;
	&lt;a class="glightbox lightbox-play-btn" href="https://www.youtube.com/watch?v=V8yu12uRpBA"&gt;
		&lt;i class="bi bi-play"&gt;&lt;/i&gt;
	&lt;/a&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>			

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>