<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Lists</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Lists</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row g-5">
						<div class="col-12 col-lg-6">
							<ul class="list-unstyled">
								<li>Unstyled List item</li>
								<li>Unstyled List item</li>
								<li>Unstyled List item</li>
								<li>Unstyled List item</li>
							</ul>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#listunstyled" role="button" aria-expanded="false" aria-controls="listunstyled">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="listunstyled">
<pre class="language-html m-0">
<code>
&lt;ul class="list-unstyled"&gt;
	&lt;li&gt;Unstyled List item&lt;/li&gt;
	&lt;li&gt;Unstyled List item&lt;/li&gt;
	&lt;li&gt;Unstyled List item&lt;/li&gt;
	&lt;li&gt;Unstyled List item&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<ul class="list-dash">
								<li>Dash List item</li>
								<li>Dash List item</li>
								<li>Dash List item</li>
								<li>Dash List item</li>
							</ul>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#listdash" role="button" aria-expanded="false" aria-controls="listdash">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="listdash">
<pre class="language-html m-0">
<code>
&lt;ul class="list-dash"&gt;
	&lt;li&gt;Dash List item&lt;/li&gt;
	&lt;li&gt;Dash List item&lt;/li&gt;
	&lt;li&gt;Dash List item&lt;/li&gt;
	&lt;li&gt;Dash List item&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<ul class="list-border-dashed">
								<li>Border Dash List item</li>
								<li>Border Dash List item</li>
								<li>Border Dash List item</li>
								<li>Border Dash List item</li>
							</ul>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#listborderdashed" role="button" aria-expanded="false" aria-controls="listborderdashed">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="listborderdashed">
<pre class="language-html m-0">
<code>
&lt;ul class="list-border-dashed"&gt;
	&lt;li&gt;Border Dash List item&lt;/li&gt;
	&lt;li&gt;Border Dash List item&lt;/li&gt;
	&lt;li&gt;Border Dash List item&lt;/li&gt;
	&lt;li&gt;Border Dash List item&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<ul class="list-inline-2xl">
								<li>Inline List 2xl</li>
								<li>Inline List 2xl</li>
								<li>Inline List 2xl</li>
							</ul>
							<ul class="list-inline-xl mt-3">
								<li>Inline List xl</li>
								<li>Inline List xl</li>
								<li>Inline List xl</li>
							</ul>
							<ul class="list-inline-lg mt-3">
								<li>Inline List lg</li>
								<li>Inline List lg</li>
								<li>Inline List lg</li>
							</ul>
							<ul class="list-inline mt-3">
								<li>Inline List</li>
								<li>Inline List</li>
								<li>Inline List</li>
							</ul>
							<ul class="list-inline-dot mt-3">
								<li>Inline List dot</li>
								<li>Inline List dot</li>
								<li>Inline List dot</li>
							</ul>
							<ul class="list-inline-dash mt-3">
								<li>Inline List dash</li>
								<li>Inline List dash</li>
								<li>Inline List dash</li>
							</ul>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#listinline" role="button" aria-expanded="false" aria-controls="listinline">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="listinline">
<pre class="language-html m-0">
<code>
&lt;ul class="list-inline-2xl"&gt;
	&lt;li&gt;Inline List 2xl&lt;/li&gt;
	&lt;li&gt;Inline List 2xl&lt;/li&gt;
	&lt;li&gt;Inline List 2xl&lt;/li&gt;
&lt;/ul&gt;
&lt;ul class="list-inline-xl"&gt;
	&lt;li&gt;Inline List xl&lt;/li&gt;
	&lt;li&gt;Inline List xl&lt;/li&gt;
	&lt;li&gt;Inline List xl&lt;/li&gt;
&lt;/ul&gt;
&lt;ul class="list-inline-lg"&gt;
	&lt;li&gt;Inline List lg&lt;/li&gt;
	&lt;li&gt;Inline List lg&lt;/li&gt;
	&lt;li&gt;Inline List lg&lt;/li&gt;
&lt;/ul&gt;
&lt;ul class="list-inline"&gt;
	&lt;li&gt;Inline List&lt;/li&gt;
	&lt;li&gt;Inline List&lt;/li&gt;
	&lt;li&gt;Inline List&lt;/li&gt;
&lt;/ul&gt;
&lt;ul class="list-inline-dot"&gt;
	&lt;li&gt;Inline List dot&lt;/li&gt;
	&lt;li&gt;Inline List dot&lt;/li&gt;
	&lt;li&gt;Inline List dot&lt;/li&gt;
&lt;/ul&gt;
&lt;ul class="list-inline-dash"&gt;
	&lt;li&gt;Inline List dash&lt;/li&gt;
	&lt;li&gt;Inline List dash&lt;/li&gt;
	&lt;li&gt;Inline List dash&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>
							</div>
						</div>
					</div><!-- end row -->
					
				</div><!-- end container -->
			</div>

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>