<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Maps</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Maps - Small</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div id="map1" class="gmap gmap-sm border-radius" data-latitude="51.513569" data-longitude="-0.123443"></div>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#gmaps1" role="button" aria-expanded="false" aria-controls="gmaps1">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="gmaps1">
<pre class="language-html m-0">
<code>
&lt;div id="map1" class="gmap gmap-sm border-radius" data-latitude="51.513569" data-longitude="-0.123443"&gt;&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

			
			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Maps - Medium</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div id="map2" class="gmap gmap-md border-radius" data-latitude="51.513569" data-longitude="-0.123443"></div>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#gmaps2" role="button" aria-expanded="false" aria-controls="gmaps2">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="gmaps2">
<pre class="language-html m-0">
<code>
&lt;div id="map2" class="gmap gmap-md border-radius" data-latitude="51.513569" data-longitude="-0.123443"&gt;&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Maps - Large</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div id="map3" class="gmap gmap-lg border-radius" data-latitude="51.513569" data-longitude="-0.123443"></div>

					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#gmaps3" role="button" aria-expanded="false" aria-controls="gmaps3">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="gmaps3">
<pre class="language-html m-0">
<code>
&lt;div id="map3" class="gmap gmap-lg border-radius" data-latitude="51.513569" data-longitude="-0.123443"&gt;&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>