<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Process</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Process Boxes</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row g-5">
						<div class="col-12 col-xl-6">
							<div class="process-box active">
								<div class="process-order">
									<span>1</span>
								</div>
								<h4>Strategy & Planning</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<div class="process-box mt-4">
								<div class="process-order">
									<span>2</span>
								</div>
								<h4>Provide Services</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<div class="process-box mt-4">
								<div class="process-order">
									<span>3</span>
								</div>
								<h4>Deliver Solutions</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#process1" role="button" aria-expanded="false" aria-controls="process1">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="process1">
<pre class="language-html m-0">
<code>
&lt;div class="process-box active"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;1&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Strategy & Planning&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
&lt;div class="process-box mt-4"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;2&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Provide Services&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
&lt;div class="process-box mt-4"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;3&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Deliver Solutions&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
</code>
</pre>
							</div>
						</div>
						<!-- 2 -->
						<div class="col-12 col-xl-6">
							<div class="process-box process-gradient-2 active">
								<div class="process-order">
									<span>1</span>
								</div>
								<h4>Strategy & Planning</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<div class="process-box process-gradient-2 mt-4">
								<div class="process-order">
									<span>2</span>
								</div>
								<h4>Provide Services</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<div class="process-box process-gradient-2 mt-4">
								<div class="process-order">
									<span>3</span>
								</div>
								<h4>Deliver Solutions</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#process2" role="button" aria-expanded="false" aria-controls="process2">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="process2">
<pre class="language-html m-0">
<code>
&lt;div class="process-box process-gradient-2 active"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;1&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Strategy & Planning&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
&lt;div class="process-box process-gradient-2 mt-4"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;2&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Provide Services&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
&lt;div class="process-box process-gradient-2 mt-4"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;3&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Deliver Solutions&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
</code>
</pre>
							</div>
						</div>
						<!-- 3 -->
						<div class="col-12 col-xl-6">
							<div class="process-box process-gradient-3 active">
								<div class="process-order">
									<span>1</span>
								</div>
								<h4>Strategy & Planning</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<div class="process-box process-gradient-3 mt-4">
								<div class="process-order">
									<span>2</span>
								</div>
								<h4>Provide Services</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<div class="process-box process-gradient-3 mt-4">
								<div class="process-order">
									<span>3</span>
								</div>
								<h4>Deliver Solutions</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#process3" role="button" aria-expanded="false" aria-controls="process3">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="process3">
<pre class="language-html m-0">
<code>
&lt;div class="process-box process-gradient-3 active"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;1&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Strategy & Planning&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
&lt;div class="process-box process-gradient-3 mt-4"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;2&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Provide Services&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
&lt;div class="process-box process-gradient-3 mt-4"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;3&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Deliver Solutions&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
</code>
</pre>
							</div>
						</div>
						<!-- 4 -->
						<div class="col-12 col-xl-6">
							<div class="process-box process-gradient-4 active">
								<div class="process-order">
									<span>1</span>
								</div>
								<h4>Strategy & Planning</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<div class="process-box process-gradient-4 mt-4">
								<div class="process-order">
									<span>2</span>
								</div>
								<h4>Provide Services</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<div class="process-box process-gradient-4 mt-4">
								<div class="process-order">
									<span>3</span>
								</div>
								<h4>Deliver Solutions</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#process4" role="button" aria-expanded="false" aria-controls="process4">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="process4">
<pre class="language-html m-0">
<code>
&lt;div class="process-box process-gradient-4 active"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;1&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Strategy & Planning&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
&lt;div class="process-box process-gradient-4 mt-4"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;2&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Provide Services&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
&lt;div class="process-box process-gradient-4 mt-4"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;3&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Deliver Solutions&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
</code>
</pre>
							</div>
						</div>
						<!-- 5 -->
						<div class="col-12 col-xl-6">
							<div class="process-box process-gradient-5 active">
								<div class="process-order">
									<span>1</span>
								</div>
								<h4>Strategy & Planning</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<div class="process-box process-gradient-5 mt-4">
								<div class="process-order">
									<span>2</span>
								</div>
								<h4>Provide Services</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<div class="process-box process-gradient-5 mt-4">
								<div class="process-order">
									<span>3</span>
								</div>
								<h4>Deliver Solutions</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt</p>
							</div>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#process5" role="button" aria-expanded="false" aria-controls="process5">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="process5">
<pre class="language-html m-0">
<code>
&lt;div class="process-box process-gradient-5 active"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;1&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Strategy & Planning&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
&lt;div class="process-box process-gradient-5 mt-4"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;2&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Provide Services&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
&lt;div class="process-box process-gradient-5 mt-4"&gt;
	&lt;div class="process-order"&gt;
		&lt;span&gt;3&lt;/span&gt;
	&lt;/div&gt;
	&lt;h4&gt;Deliver Solutions&lt;/h4&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt&lt;/p&gt;
&lt;/div&gt;
</code>
</pre>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>

			

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>