<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Sliding Text</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Sliding Text - Style 1</div>
				</div>
			</div>
			<div class="swiper sliding-text py-3">
				<div class="swiper-wrapper">
					<!-- Item 1 -->
					<div class="swiper-slide">
						<h2 class="display-1 font-family-poppins fw-semi-bold uppercase mb-0">Best Rated</h2>
					</div>
					<!-- Item 2 -->
					<div class="swiper-slide">
						<h2 class="display-1 font-family-poppins fw-bold stroke-text uppercase mb-0">Most Recommended</h2>
					</div>
					<!-- Item 3 -->
					<div class="swiper-slide">
						<h2 class="display-1 font-family-poppins fw-semi-bold uppercase mb-0">10 years in the market</h2>
					</div>
					<!-- Item 4 -->
					<div class="swiper-slide">
						<h2 class="display-1 font-family-poppins fw-bold stroke-text uppercase mb-0">WorldClass Quality</h2>
					</div>
				</div>
			</div>
			<div class="section-spacing pt-0">
				<div class="container">
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#slidingtext1" role="button" aria-expanded="false" aria-controls="slidingtext1">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="slidingtext1">
<pre class="language-html m-0">
<code>
&lt;div class="swiper sliding-text py-3"&gt;
	&lt;div class="swiper-wrapper"&gt;
		&lt;!-- Item 1 --&gt;
		&lt;div class="swiper-slide"&gt;
			&lt;h2 class="display-1 font-family-poppins fw-semi-bold uppercase mb-0"&gt;Best Rated&lt;/h2&gt;
		&lt;/div&gt;
		&lt;!-- Item 2 --&gt;
		&lt;div class="swiper-slide"&gt;
			&lt;h2 class="display-1 font-family-poppins fw-bold stroke-text uppercase mb-0"&gt;Most Recommended&lt;/h2&gt;
		&lt;/div&gt;
		&lt;!-- Item 3 --&gt;
		&lt;div class="swiper-slide"&gt;
			&lt;h2 class="display-1 font-family-poppins fw-semi-bold uppercase mb-0"&gt;10 years in the market&lt;/h2&gt;
		&lt;/div&gt;
		&lt;!-- Item 4 --&gt;
		&lt;div class="swiper-slide"&gt;
			&lt;h2 class="display-1 font-family-poppins fw-bold stroke-text uppercase mb-0"&gt;WorldClass Quality&lt;/h2&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Sliding Text - Style 2</div>
				</div>
			</div>
			<!-- Sliding Text -->
			<div class="swiper sliding-text bg-gray py-3">
				<div class="swiper-wrapper">
					<!-- Item 1 -->
					<div class="swiper-slide">
						<div class="h1 display-1 font-family-tertiary fw-normal fst-italic text-dark-20 mb-0">Brand Identity Design</div>
					</div>
					<!-- Item 2 -->
					<div class="swiper-slide">
						<div class="h1 display-1 font-family-tertiary fw-normal fst-italic text-dark-20 mb-0">Direct Mail Marketing Management</div>
					</div>
					<!-- Item 3 -->
					<div class="swiper-slide">
						<div class="h1 display-1 font-family-tertiary fw-normal fst-italic text-dark-20 mb-0">Social Media Marketing</div>
					</div>
					<!-- Item 4 -->
					<div class="swiper-slide">
						<div class="h1 display-1 font-family-tertiary fw-normal fst-italic text-dark-20 mb-0">Experiential Marketing</div>
					</div>
				</div>
			</div>
			<!-- Sliding Text -->
			<div class="section-spacing pt-0">
				<div class="container">
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#slidingtext2" role="button" aria-expanded="false" aria-controls="slidingtext2">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="slidingtext2">
<pre class="language-html m-0">
<code>
&lt;div class="swiper sliding-text bg-gray py-3"&gt;
	&lt;div class="swiper-wrapper"&gt;
		&lt;!-- Item 1 --&gt;
		&lt;div class="swiper-slide"&gt;
			&lt;div class="h1 display-1 font-family-tertiary fw-normal fst-italic text-dark-20 mb-0"&gt;Brand Identity Design&lt;/div&gt;
		&lt;/div&gt;
		&lt;!-- Item 2 --&gt;
		&lt;div class="swiper-slide"&gt;
			&lt;div class="h1 display-1 font-family-tertiary fw-normal fst-italic text-dark-20 mb-0"&gt;Direct Mail Marketing Management&lt;/div&gt;
		&lt;/div&gt;
		&lt;!-- Item 3 --&gt;
		&lt;div class="swiper-slide"&gt;
			&lt;div class="h1 display-1 font-family-tertiary fw-normal fst-italic text-dark-20 mb-0"&gt;Social Media Marketing&lt;/div&gt;
		&lt;/div&gt;
		&lt;!-- Item 4 --&gt;
		&lt;div class="swiper-slide"&gt;
			&lt;div class="h1 display-1 font-family-tertiary fw-normal fst-italic text-dark-20 mb-0"&gt;Experiential Marketing&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Sliding Text - Reverse</div>
				</div>
			</div>
			<div class="swiper sliding-text-reverse py-3">
				<div class="swiper-wrapper">
					<!-- Item 1 -->
					<div class="swiper-slide">
						<h2 class="display-1 font-family-poppins fw-semi-bold uppercase mb-0">Best Rated</h2>
					</div>
					<!-- Item 2 -->
					<div class="swiper-slide">
						<h2 class="display-1 font-family-poppins fw-bold stroke-text uppercase mb-0">Most Recommended</h2>
					</div>
					<!-- Item 3 -->
					<div class="swiper-slide">
						<h2 class="display-1 font-family-poppins fw-semi-bold uppercase mb-0">10 years in the market</h2>
					</div>
					<!-- Item 4 -->
					<div class="swiper-slide">
						<h2 class="display-1 font-family-poppins fw-bold stroke-text uppercase mb-0">WorldClass Quality</h2>
					</div>
				</div>
			</div>
			<div class="section-spacing pt-0">
				<div class="container">
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#slidingtext3" role="button" aria-expanded="false" aria-controls="slidingtext3">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="slidingtext3">
<pre class="language-html m-0">
<code>
&lt;div class="swiper sliding-text-reverse py-3"&gt;
	&lt;div class="swiper-wrapper"&gt;
		&lt;!-- Item 1 --&gt;
		&lt;div class="swiper-slide"&gt;
			&lt;h2 class="display-1 font-family-poppins fw-semi-bold uppercase mb-0"&gt;Best Rated&lt;/h2&gt;
		&lt;/div&gt;
		&lt;!-- Item 2 --&gt;
		&lt;div class="swiper-slide"&gt;
			&lt;h2 class="display-1 font-family-poppins fw-bold stroke-text uppercase mb-0"&gt;Most Recommended&lt;/h2&gt;
		&lt;/div&gt;
		&lt;!-- Item 3 --&gt;
		&lt;div class="swiper-slide"&gt;
			&lt;h2 class="display-1 font-family-poppins fw-semi-bold uppercase mb-0"&gt;10 years in the market&lt;/h2&gt;
		&lt;/div&gt;
		&lt;!-- Item 4 --&gt;
		&lt;div class="swiper-slide"&gt;
			&lt;h2 class="display-1 font-family-poppins fw-bold stroke-text uppercase mb-0"&gt;WorldClass Quality&lt;/h2&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>