<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Sliding Boxes</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Sliding Boxes</div>
				</div>
			</div>
			<div class="bg-gray py-4">
				<div class="swiper sliding-boxes">
					<div class="swiper-wrapper">
						<!-- Item 1 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4 p-lg-5">
								<div class="mb-3">
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor</p>
								<h4 class="mt-4 mb-1">Christina Gray</h4>
								<span class="sm-heading text-dark-50">Creative Director</span>
							</div>
						</div>
						<!-- Item 2 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4 p-lg-5">
								<div class="mb-3">
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore</p>
								<h4 class="mt-4 mb-1">Brian Cabrera</h4>
								<span class="sm-heading text-dark-50">COO - Company</span>
							</div>
						</div>
						<!-- Item 3 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4 p-lg-5">
								<div class="mb-3">
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor</p>
								<h4 class="mt-4 mb-1">William Davis</h4>
								<span class="sm-heading text-dark-50">Manager - Company</span>
							</div>
						</div>
						<!-- Item 4 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4 p-lg-5">
								<div class="mb-3">
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore</p>
								<h4 class="mt-4 mb-1">Rita Cowan</h4>
								<span class="sm-heading text-dark-50">CMO - Company</span>
							</div>
						</div>
						<!-- Item 5 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4 p-lg-5">
								<div class="mb-3">
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor</p>
								<h4 class="mt-4 mb-1">Janice Fortner</h4>
								<span class="sm-heading text-dark-50">Project Manager</span>
							</div>
						</div>
						<!-- Item 6 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4 p-lg-5">
								<div class="mb-3">
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
									<i class="bi bi-star-fill text-yellow"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore</p>
								<h4 class="mt-4 mb-1">Barbara Myers</h4>
								<span class="sm-heading text-dark-50">CTO - Company</span>
							</div>
						</div>
						<!-- end Item 6 -->
					</div><!-- end swiper-wrapper -->
				</div><!-- end swiper -->
			</div>
			<div class="section-spacing pt-0">
				<div class="container">
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#slidingbox1" role="button" aria-expanded="false" aria-controls="slidingbox1">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="slidingbox1">
<pre class="language-html m-0">
<code>
&lt;div class="bg-gray py-4"&gt;
	&lt;div class="swiper sliding-boxes"&gt;
		&lt;div class="swiper-wrapper"&gt;
			&lt;!-- Item 1 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4 p-lg-5"&gt;
					&lt;div class="mb-3"&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
					&lt;/div&gt;
					&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor&lt;/p&gt;
					&lt;h4 class="mt-4 mb-1"&gt;Christina Gray&lt;/h4&gt;
					&lt;span class="sm-heading text-dark-50"&gt;Creative Director&lt;/span&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 2 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4 p-lg-5"&gt;
					&lt;div class="mb-3"&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
					&lt;/div&gt;
					&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore&lt;/p&gt;
					&lt;h4 class="mt-4 mb-1"&gt;Brian Cabrera&lt;/h4&gt;
					&lt;span class="sm-heading text-dark-50"&gt;COO - Company&lt;/span&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 3 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4 p-lg-5"&gt;
					&lt;div class="mb-3"&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
					&lt;/div&gt;
					&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor&lt;/p&gt;
					&lt;h4 class="mt-4 mb-1"&gt;William Davis&lt;/h4&gt;
					&lt;span class="sm-heading text-dark-50"&gt;Manager - Company&lt;/span&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 4 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4 p-lg-5"&gt;
					&lt;div class="mb-3"&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
					&lt;/div&gt;
					&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore&lt;/p&gt;
					&lt;h4 class="mt-4 mb-1"&gt;Rita Cowan&lt;/h4&gt;
					&lt;span class="sm-heading text-dark-50"&gt;CMO - Company&lt;/span&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 5 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4 p-lg-5"&gt;
					&lt;div class="mb-3"&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
					&lt;/div&gt;
					&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor&lt;/p&gt;
					&lt;h4 class="mt-4 mb-1"&gt;Janice Fortner&lt;/h4&gt;
					&lt;span class="sm-heading text-dark-50"&gt;Project Manager&lt;/span&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 6 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4 p-lg-5"&gt;
					&lt;div class="mb-3"&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
						&lt;i class="bi bi-star-fill text-yellow"&gt;&lt;/i&gt;
					&lt;/div&gt;
					&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore&lt;/p&gt;
					&lt;h4 class="mt-4 mb-1"&gt;Barbara Myers&lt;/h4&gt;
					&lt;span class="sm-heading text-dark-50"&gt;CTO - Company&lt;/span&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- end Item 6 --&gt;
		&lt;/div&gt;&lt;!-- end swiper-wrapper --&gt;
	&lt;/div&gt;&lt;!-- end swiper --&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>


			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Sliding Boxes</div>
				</div>
			</div>
			<div class="bg-gray py-4">
				<div class="swiper sliding-boxes">
					<div class="swiper-wrapper text-center">
						<!-- Item 1 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4">
								<h3>Sliding box title 1</h3>
							</div>
						</div>
						<!-- Item 2 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4">
								<h3>Sliding box title 2</h3>
							</div>
						</div>
						<!-- Item 3 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4">
								<h3>Sliding box title 3</h3>
							</div>
						</div>
						<!-- Item 4 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4">
								<h3>Sliding box title 4</h3>
							</div>
						</div>
						<!-- Item 5 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4">
								<h3>Sliding box title 5</h3>
							</div>
						</div>
						<!-- Item 6 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4">
								<h3>Sliding box title 6</h3>
							</div>
						</div>
						<!-- Item 7 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4">
								<h3>Sliding box title 7</h3>
							</div>
						</div>
						<!-- Item 8 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4">
								<h3>Sliding box title 8</h3>
							</div>
						</div>
						<!-- Item 9 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4">
								<h3>Sliding box title 9</h3>
							</div>
						</div>
						<!-- Item 10 -->
						<div class="swiper-slide">
							<div class="bg-white border-radius p-4">
								<h3>Sliding box title 10</h3>
							</div>
						</div>
						<!-- end Item 10 -->
					</div><!-- end swiper-wrapper -->
				</div><!-- end swiper -->
			</div>
			<div class="section-spacing pt-0">
				<div class="container">
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#slidingbox2" role="button" aria-expanded="false" aria-controls="slidingbox2">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="slidingbox2">
<pre class="language-html m-0">
<code>
&lt;div class="bg-gray py-4"&gt;
	&lt;div class="swiper sliding-boxes"&gt;
		&lt;div class="swiper-wrapper text-center"&gt;
			&lt;!-- Item 1 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4"&gt;
					&lt;h3&gt;Sliding box title 1&lt;/h3&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 2 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4"&gt;
					&lt;h3&gt;Sliding box title 2&lt;/h3&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 3 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4"&gt;
					&lt;h3&gt;Sliding box title 3&lt;/h3&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 4 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4"&gt;
					&lt;h3&gt;Sliding box title 4&lt;/h3&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 5 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4"&gt;
					&lt;h3&gt;Sliding box title 5&lt;/h3&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 6 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4"&gt;
					&lt;h3&gt;Sliding box title 6&lt;/h3&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 7 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4"&gt;
					&lt;h3&gt;Sliding box title 7&lt;/h3&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 8 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4"&gt;
					&lt;h3&gt;Sliding box title 8&lt;/h3&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 9 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4"&gt;
					&lt;h3&gt;Sliding box title 9&lt;/h3&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- Item 10 --&gt;
			&lt;div class="swiper-slide"&gt;
				&lt;div class="bg-white border-radius p-4"&gt;
					&lt;h3&gt;Sliding box title 10&lt;/h3&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;!-- end Item 10 --&gt;
		&lt;/div&gt;&lt;!-- end swiper-wrapper --&gt;
	&lt;/div&gt;&lt;!-- end swiper --&gt;
&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

			

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>