<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Team box</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Team box</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row gx-3 gy-4 gy-lg-5">
						<!-- Team box 1 -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team-box">
								<div class="team-img">
									<img src="../assets/images/team.png" alt="">
								</div>
								<div class="team-hover p-3">
									<div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center">
										<ul class="list-inline-lg">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
											<li><a href="#"><i class="bi bi-instagram"></i></a></li>
											<li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="pt-3 text-center">
								<h5 class="mb-1">Felix Jacobson</h5>
								<span>Co-Founder</span>
							</div>
						</div>
						<!-- Team box 2 -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team-box">
								<div class="team-img">
									<img src="../assets/images/team.png" alt="">
								</div>
								<div class="team-hover p-3">
									<div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center">
										<ul class="list-inline-lg">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
											<li><a href="#"><i class="bi bi-instagram"></i></a></li>
											<li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="pt-3 text-center">
								<h5 class="mb-1">Alexander Warren</h5>
								<span>Chief Executive Officer</span>
							</div>
						</div>
						<!-- Team box 3 -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team-box">
								<div class="team-img">
									<img src="../assets/images/team.png" alt="">
								</div>
								<div class="team-hover p-3">
									<div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center">
										<ul class="list-inline-lg">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
											<li><a href="#"><i class="bi bi-instagram"></i></a></li>
											<li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="pt-3 text-center">
								<h5 class="mb-1">Louis Wilson</h5>
								<span>Chief Operating Officer</span>
							</div>
						</div>
						<!-- Team box 4 -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team-box">
								<div class="team-img">
									<img src="../assets/images/team.png" alt="">
								</div>
								<div class="team-hover p-3">
									<div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center">
										<ul class="list-inline-lg">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
											<li><a href="#"><i class="bi bi-instagram"></i></a></li>
											<li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="pt-3 text-center">
								<h5 class="mb-1">Valeria Johnson</h5>
								<span>Finance Manager</span>
							</div>
						</div>
					</div><!-- end row -->
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#teambox" role="button" aria-expanded="false" aria-controls="teambox">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="teambox">
<pre class="language-html m-0">
<code>
&lt;div class="row gx-3 gy-4 gy-lg-5"&gt;
	&lt;!-- Team box 1 --&gt;
	&lt;div class="col-12 col-md-6 col-lg-3"&gt;
		&lt;div class="team-box"&gt;
			&lt;div class="team-img"&gt;
				&lt;img src="../assets/images/team-1.jpg" alt=""&gt;
			&lt;/div&gt;
			&lt;div class="team-hover p-3"&gt;
				&lt;div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center"&gt;
					&lt;ul class="list-inline-lg"&gt;
						&lt;li&gt;&lt;a href="#"&gt;&lt;i class="bi bi-facebook"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href="#"&gt;&lt;i class="bi bi-instagram"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href="#"&gt;&lt;i class="bi bi-twitter-x"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="pt-3 text-center"&gt;
			&lt;h5 class="mb-1"&gt;Felix Jacobson&lt;/h5&gt;
			&lt;span&gt;Co-Founder&lt;/span&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;!-- Team box 2 --&gt;
	&lt;div class="col-12 col-md-6 col-lg-3"&gt;
		&lt;div class="team-box"&gt;
			&lt;div class="team-img"&gt;
				&lt;img src="../assets/images/team.png" alt=""&gt;
			&lt;/div&gt;
			&lt;div class="team-hover p-3"&gt;
				&lt;div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center"&gt;
					&lt;ul class="list-inline-lg"&gt;
						&lt;li&gt;&lt;a href="#"&gt;&lt;i class="bi bi-facebook"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href="#"&gt;&lt;i class="bi bi-instagram"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href="#"&gt;&lt;i class="bi bi-twitter-x"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="pt-3 text-center"&gt;
			&lt;h5 class="mb-1"&gt;Alexander Warren&lt;/h5&gt;
			&lt;span&gt;Chief Executive Officer&lt;/span&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;!-- Team box 3 --&gt;
	&lt;div class="col-12 col-md-6 col-lg-3"&gt;
		&lt;div class="team-box"&gt;
			&lt;div class="team-img"&gt;
				&lt;img src="../assets/images/team.png" alt=""&gt;
			&lt;/div&gt;
			&lt;div class="team-hover p-3"&gt;
				&lt;div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center"&gt;
					&lt;ul class="list-inline-lg"&gt;
						&lt;li&gt;&lt;a href="#"&gt;&lt;i class="bi bi-facebook"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href="#"&gt;&lt;i class="bi bi-instagram"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href="#"&gt;&lt;i class="bi bi-twitter-x"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="pt-3 text-center"&gt;
			&lt;h5 class="mb-1"&gt;Louis Wilson&lt;/h5&gt;
			&lt;span&gt;Chief Operating Officer&lt;/span&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;!-- Team box 4 --&gt;
	&lt;div class="col-12 col-md-6 col-lg-3"&gt;
		&lt;div class="team-box"&gt;
			&lt;div class="team-img"&gt;
				&lt;img src="../assets/images/team.png" alt=""&gt;
			&lt;/div&gt;
			&lt;div class="team-hover p-3"&gt;
				&lt;div class="bg-black-20 backdrop-filter-blur border-radius p-3 text-center"&gt;
					&lt;ul class="list-inline-lg"&gt;
						&lt;li&gt;&lt;a href="#"&gt;&lt;i class="bi bi-facebook"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href="#"&gt;&lt;i class="bi bi-instagram"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;li&gt;&lt;a href="#"&gt;&lt;i class="bi bi-twitter-x"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="pt-3 text-center"&gt;
			&lt;h5 class="mb-1"&gt;Valeria Johnson&lt;/h5&gt;
			&lt;span&gt;Finance Manager&lt;/span&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;&lt;!-- end row --&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

			

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>