<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Title Fade</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Title Fade</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container text-center">
					<div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-dark">Dark</div>
					<div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-gradient-1 text-gradient-1">Gradient 1</div>
					<div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-gradient-2 text-gradient-2">Gradient 2</div>
					<div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-gradient-3 text-gradient-3">Gradient 3</div>
					<div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-gradient-4 text-gradient-4">Gradient 4</div>
					<div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-gradient-5 text-gradient-5">Gradient 5</div>
					<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#titlefade" role="button" aria-expanded="false" aria-controls="titlefade">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
					<div class="collapse" id="titlefade">
<pre class="language-html m-0">
<code>
&lt;div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-dark"&gt;Dark&lt;/div&gt;
&lt;div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-gradient-1 text-gradient-1"&gt;Gradient 1&lt;/div&gt;
&lt;div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-gradient-2 text-gradient-2"&gt;Gradient 2&lt;/div&gt;
&lt;div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-gradient-3 text-gradient-3"&gt;Gradient 3&lt;/div&gt;
&lt;div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-gradient-4 text-gradient-4"&gt;Gradient 4&lt;/div&gt;
&lt;div class="d-inline-block px-3 py-2 rounded-pill sm-heading title-fade-gradient-5 text-gradient-5"&gt;Gradient 5&lt;/div&gt;
</code>
</pre>
					</div>
				</div><!-- end container -->
			</div>

			

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>