<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Elements - Typography</title>
		<!-- Favicon -->
		<link href="../assets/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../assets/plugins/glightbox/glightbox.min.css" rel="stylesheet">
		<link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
		<link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="../assets/plugins/prism/prism.css" rel="stylesheet">
		<link href="../assets/css/theme.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="../assets/plugins/fontawesome/css/all.css" rel="stylesheet">
		<link href="../assets/plugins/themify/themify-icons.css" rel="stylesheet">
	</head>
	<body data-preloader="light">

		<main>

			<div class="section-spacing-sm bg-dark">
				<div class="container">
					<div class="h1 display-5 fw-medium text-center">Typography</div>
				</div>
			</div>
			<div class="section-spacing">
				<div class="container">
					<div class="row g-5">
						<div class="col-12 col-lg-6">
							<h2 class="font-family-primary">Open Sans</h2>
							<h2 class="font-family-secondary">Outfit</h2>
							<h2 class="font-family-tertiary">Lora</h2>
							<h2 class="font-family-poppins">Poppins</h2>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#font-families" role="button" aria-expanded="false" aria-controls="font-families">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="font-families">
<pre class="language-html m-0">
<code>
&lt;h2 class="font-family-primary"&gt;Open Sans&lt;/h2&gt;
&lt;h2 class="font-family-secondary"&gt;Outfit&lt;/h2&gt;
&lt;h2 class="font-family-tertiary"&gt;Lora&lt;/h2&gt;
&lt;h2 class="font-family-poppins"&gt;Poppins&lt;/h2&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<p class="font-large">.font-large</p>
							<p class="font-small mt-2">.font-small</p>
							<p class="sm-heading mt-2">.sm-heading</p>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#customclasses" role="button" aria-expanded="false" aria-controls="customclasses">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="customclasses">
<pre class="language-html m-0">
<code>
&lt;p class="font-large"&gt;.font-large&lt;/p&gt;
&lt;p class="font-small"&gt;.font-small&lt;/p&gt;
&lt;p class="sm-heading"&gt;.sm-heading&lt;/p&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<h2 class="display-1 display-xl">Display 1 XL</h2>
							<h2 class="display-1 display-lg">Display 1 LG</h2>
							<h2 class="display-1">Display 1</h2>
							<h2 class="display-2">Display 2</h2>
							<h2 class="display-3">Display 3</h2>
							<h2 class="display-4">Display 4</h2>
							<h2 class="display-5">Display 5</h2>
							<h2 class="display-6">Display 6</h2>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#displayfonts" role="button" aria-expanded="false" aria-controls="displayfonts">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="displayfonts">
<pre class="language-html m-0">
<code>
&lt;h2 class="display-1 display-xl"&gt;Display 1 XL&lt;/h2&gt;
&lt;h2 class="display-1 display-lg"&gt;Display 1 LG&lt;/h2&gt;
&lt;h2 class="display-1"&gt;Display 1&lt;/h2&gt;
&lt;h2 class="display-2"&gt;Display 2&lt;/h2&gt;
&lt;h2 class="display-3"&gt;Display 3&lt;/h2&gt;
&lt;h2 class="display-4"&gt;Display 4&lt;/h2&gt;
&lt;h2 class="display-5"&gt;Display 5&lt;/h2&gt;
&lt;h2 class="display-6"&gt;Display 6&lt;/h2&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<h2 class="fw-bolder">.fw-bolder</h2>
							<h2 class="fw-bold">.fw-bold</h2>
							<h2 class="fw-semi-bold">.fw-semi-bold</h2>
							<h2 class="fw-medium">.fw-medium</h2>
							<h2 class="fw-normal">.fw-normal</h2>
							<h2 class="fw-light">.fw-light</h2>
							<h2 class="fw-lighter">.fw-lighter</h2>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#fontweights" role="button" aria-expanded="false" aria-controls="fontweights">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="fontweights">
<pre class="language-html m-0">
<code>
&lt;h2 class="fw-bolder"&gt;.fw-bolder&lt;/h2&gt;
&lt;h2 class="fw-bold"&gt;.fw-bold&lt;/h2&gt;
&lt;h2 class="fw-semi-bold"&gt;.fw-semi-bold&lt;/h2&gt;
&lt;h2 class="fw-medium"&gt;.fw-medium&lt;/h2&gt;
&lt;h2 class="fw-normal"&gt;.fw-normal&lt;/h2&gt;
&lt;h2 class="fw-light"&gt;.fw-light&lt;/h2&gt;
&lt;h2 class="fw-lighter"&gt;.fw-lighter&lt;/h2&gt;
</code>
</pre>
							</div>
							<div class="mt-5"></div>
							<h2 class="display-5 fw-medium"><span class="text-gradient-1">Text Gradient 1</span></h2>
							<h2 class="display-5 fw-medium"><span class="text-gradient-2">Text Gradient 2</span></h2>
							<h2 class="display-5 fw-medium"><span class="text-gradient-3">Text Gradient 3</span></h2>
							<h2 class="display-5 fw-medium"><span class="text-gradient-4">Text Gradient 4</span></h2>
							<h2 class="display-5 fw-medium"><span class="text-gradient-5">Text Gradient 5</span></h2>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#textgradients" role="button" aria-expanded="false" aria-controls="textgradients">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="textgradients">
<pre class="language-html m-0">
<code>
&lt;h2 class="display-5 fw-medium"&gt;&lt;span class="text-gradient-1"&gt;Text Gradient 1&lt;/span&gt;&lt;/h2&gt;
&lt;h2 class="display-5 fw-medium"&gt;&lt;span class="text-gradient-2"&gt;Text Gradient 2&lt;/span&gt;&lt;/h2&gt;
&lt;h2 class="display-5 fw-medium"&gt;&lt;span class="text-gradient-3"&gt;Text Gradient 3&lt;/span&gt;&lt;/h2&gt;
&lt;h2 class="display-5 fw-medium"&gt;&lt;span class="text-gradient-4"&gt;Text Gradient 4&lt;/span&gt;&lt;/h2&gt;
&lt;h2 class="display-5 fw-medium"&gt;&lt;span class="text-gradient-5"&gt;Text Gradient 5&lt;/span&gt;&lt;/h2&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<h2 class="display-3 font-family-poppins fw-semi-bold stroke-text">Stroke Text</h2>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#stroketext" role="button" aria-expanded="false" aria-controls="stroketext">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="stroketext">
<pre class="language-html m-0">
<code>
&lt;h2 class="display-3 font-family-poppins fw-semi-bold stroke-text"&gt;Stroke Text&lt;/h2&gt;
</code>
</pre>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="d-inline-block me-2 icon-4xl">
								<i class="bi bi-star"></i>
							</div>
							<div class="d-inline-block me-2 icon-3xl">
								<i class="bi bi-star"></i>
							</div>
							<div class="d-inline-block me-2 icon-2xl">
								<i class="bi bi-star"></i>
							</div>
							<div class="d-inline-block me-2 icon-xl">
								<i class="bi bi-star"></i>
							</div>
							<div class="d-inline-block me-2 icon-lg">
								<i class="bi bi-star"></i>
							</div>
							<div class="d-inline-block me-2">
								<i class="bi bi-star"></i>
							</div>
							<div class="d-inline-block me-2 icon-sm">
								<i class="bi bi-star"></i>
							</div>
							<a class="button button-md button-radius button-fullwidth mt-4" data-bs-toggle="collapse" href="#fonticons" role="button" aria-expanded="false" aria-controls="fonticons">View Example's Code <i class="fa-solid fa-angle-down ps-1"></i></a>
							<div class="collapse" id="fonticons">
<pre class="language-html m-0">
<code>
&lt;div class="d-inline-block icon-4xl"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="d-inline-block icon-3xl"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="d-inline-block icon-2xl"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="d-inline-block icon-xl"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="d-inline-block icon-lg"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="d-inline-block"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;div class="d-inline-block icon-sm"&gt;
	&lt;i class="bi bi-star"&gt;&lt;/i&gt;
&lt;/div&gt;
</code>
</pre>
							</div>
						</div>
					</div><!-- end row -->
				</div><!-- end container -->
			</div>

		</main>

		<!-- Cursors -->
		<div class="cursors">
			<div class="cursor-inner"></div>
		</div>
		<!-- end Cursors -->

		<!-- Scroll to Top -->
		<div class="scrolltotop icon-lg">
			<i class="bi bi-arrow-up-short"></i>
		</div>
		<!-- end Scroll to Top -->

		<!-- JavaScripts -->
		<script src="../assets/plugins/jquery.min.js"></script>
		<script src="../assets/plugins/plugins.js"></script>
		<script src="../assets/plugins/prism/prism.js"></script>
		<script src="../assets/js/functions.js"></script>
	</body>
</html>